@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";
@import "utils/vars";
@import "libs/bootstrap/bootstrap";
@import "utils/libs";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  //@media screen and (max-width: $desktopWidth) {
  //  font-size: 16px;
  //}
  //@media screen and (max-width: $tableWidth) {
  //  font-size: 15px;
  //}
  //@media screen and (max-width: $phoneWidth) {
  //  font-size: 14px;
  //}
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-weight: $mainFontWeight;
  background: $background-color;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

h1, .h1 {
  font-weight: 800;
  text-transform: uppercase;
}

h2, .h2 {
  font-size: rem(36);
}

a { text-decoration: none; }

p {
  font-size: rem(14);
  color: $fonts-color-3;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  background: #F9F9F9;
  padding-top: 78px;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
  //padding-left: 32px;
  //padding-right: 32px;
  //@media screen and (max-width: $smDesktopWidth) {
  //  max-width: tableWidth;
  //  padding-left: 15px;
  //  padding-right: 15px;
  //}
  //@media screen and (max-width: $tableWidth) {
  //  max-width: phoneWidth;
  //}
  //@media screen and (max-width: $phoneWidth) {
  //  max-width: smPhoneWidth;
  //}
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 1200px) {
  .container {
    max-width: $desktopWidth;
  }
}

.logo-webdelo {
  background: url("../../assets/img/logoMainWebdelo.svg") no-repeat center;
  background-size: 100% auto;
  width: 76px;
  height: 22px;
  display: block;
}

.pinterest-icon {
  background: url("../../assets/img/logo-1.svg") no-repeat center;
  background-size: 100% auto;
  width: 28px;
  height: 28px;
  display: block;
}

.instagram-icon {
  background: url("../../assets/img/logo-2.svg") no-repeat center;
  background-size: 100% auto;
  width: 28px;
  height: 28px;
  display: block;
}

.faceBook-icon {
  background: url("../../assets/img/logo-3.svg") no-repeat center;
  background-size: 100% auto;
  width: 28px;
  height: 28px;
  display: block;
}

.twitter-icon {
  background: url("../../assets/img/logo-4.svg") no-repeat center;
  background-size: 100% auto;
  width: 28px;
  height: 28px;
  display: block;
}

.selectPhone-icon {
  position: relative;
}

.kyivstar-icon {
  display: block;
  background: url("../../assets/img/Kyivstar.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  min-width: 16px;
}

.vodafone-icon {
  background: url("../../assets/img/Vodafone.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
  min-width: 16px;
}

.turkcell-icon {
  background: url("../../assets/img/Turkcell.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
  min-width: 16px;
}

.interior-icon {
  background: url("../../assets/img/interior-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 35px;
  height: 35px;
  display: block;
}

.feedback-icon {
  background: url("../../assets/img/feedback-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 31px;
  height: 31px;
  display: block;
}

.passion-iocn {
  background: url("../../assets/img/passion-iocn.svg") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  height: 15px;
  display: block;
}

.badge-icon {
  background: url("../../assets/img/badge-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 34px;
  height: 35px;
  display: block;
}

.pinterest-icon-product {
  background: url("../../assets/img/pinterest-icon-product.svg") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  height: 15px;
  display: block;
}

.inst-icon-product {
  background: url("../../assets/img/inst-icon-product.svg") no-repeat center;
  background-size: 100% auto;
  width: 16px;
  height: 16px;
  display: block;
}

.facebook-icon-product {
  background: url("../../assets/img/facebook-icon-product.svg") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  height: 15px;
  display: block;
}

.twitter-icon-product {
  background: url("../../assets/img/twitter-icon-product.svg") no-repeat center;
  background-size: 100% auto;
  width: 15px;
  height: 15px;
  display: block;
}

.marker-icon {
  background: url("../../assets/img/marker-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 47px;
  display: block;
}

.bookshelves-red-icon {
  background: url("../../assets/img/bookshelves-red-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 31px;
  height: 44px;
  display: block;
}

.badge-red-icon {
  background: url("../../assets/img/badge-red-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 47px;
  height: 47px;
  display: block;
}

.breadcrumb {
  background: initial;
  padding: 0;
  margin-bottom: 8px;

  .breadcrumb-item {
    font-size: rem(14);
    line-height: rem(17);
    color: $fonts-color-9;

    a {
      font-size: rem(14);
      line-height: rem(17);
      color: $fonts-color-9;
    }
  }
}

.breadcrumb-item+.breadcrumb-item:before {
  content: '>';
}

.dropdown-toggle:after {
  border: none;
  width: 8px;
  height: 4px;
  background: url("../../assets/img/check-menu-icon.svg") no-repeat center;
  background-size: 100% auto;
}

.btn {
  border-radius: 0;
}

button {
  &:focus {
    outline: none !important;
  }
}

.bg-white-color {
  position: relative;

  * {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    background: #ffffff;
    top: -50px;
    right: 8px;
    height: 200%;
    width: 200%;
    z-index: 0;
  }
}

@media (max-width: 1199.98px) {
  .bg-white-color {
    &:before {
      content: '';
      position: absolute;
      background: #ffffff;
      top: -17px;
      right: auto;
      left: 50%;
      height: calc(100% + 17px);
      width: 200%;
      z-index: 0;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 991.98px) {
  h1, .h1 {
    font-size: rem(36);
  }
}

@media (max-width: 767.97px) {
  h1, .h1 {
    font-size: rem(24) !important;
  }

  h2, .h2 {

  }

  h4, .h4 {
    font-size: rem(18);
  }

  .bg-white-color:before {
    top: -35px;
    height: calc(100% + 35px);
  }

  .content-wrapper {
    overflow: hidden;
    padding-top: 48px;
  }

  .index-page__home {
    .h2 {
      font-size: 22px;
    }

    .h3 {
      font-size: 22px;
    }
  }
}

// Modules

@import "utils/common";

@import "modules/page/catalog";
@import "modules/page/portfolio";
@import "modules/page/product";
@import "modules/page/home";

@import "modules/footer";
@import "modules/header";
@import "modules/blocks/red-squares-list";
@import "modules/blocks/card-product";
@import "modules/blocks/form-search";
@import "modules/blocks/min-product-card";
@import "modules/blocks/block-article";
@import "modules/blocks/backlight-block";
@import "modules/blocks/type-stair";
@import "modules/blocks/portfolioCard";
@import "modules/blocks/category-block";
@import "modules/blocks/product-image";
@import "modules/blocks/information-container";
@import "modules/blocks/home-card";
