.favorits-catalog {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 59px;

  @for $i from 1 through 8 {
    .card-product:nth-child(#{$i}),
    & > div:nth-child(#{$i}) {
      @include smallCard;
    }
  }
}

.favorits-section__tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .list-group-item {
    width: 120px;
    text-align: center;
    padding: 0;
    padding-bottom: 17px;
    border: 0;
    background: initial;
    color: $mainFontColor;
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(17);

    &.active {
      &:before {
        content: '';
        position: absolute;
        bottom: -3px;
        left: -50%;
        transform: translateX(50%);
        width: 100%;
        border-bottom: 3px solid #FF5733;
      }
    }
  }
}

.favorits-section__title {
  text-align: center;
  margin-bottom: 47px;
  margin-top: 28px;
}

.favorits-section__wrapper {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #000000;
  margin-bottom: 42px;
  margin-left: -15px;
  margin-right: -15px;
}

@media (max-width: 1199.98px) {
  .favorits-catalog {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
  }
}

@media (max-width: 991.981px) {
  .favorits-catalog {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
  }
}

@media (max-width: 575.982px) {
  .favorits-catalog {
    display: flex;
    flex-direction: column;
  }
}
