.home-section-firstSlide {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
}

.home-section-firstSlide__container {
  padding-top: 166px;
  padding-bottom: 64px;
}

.home-section-firstSlide__slider {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;

  .slick-list, .slick-track, .slick-slide {
    height: 100% !important;

    & > div {
      height: 100%;
    }
  }

  .slick-slide {
    left: 0 !important;
    top: 0 !important;
    position: absolute !important;
    border: 0;
  }

  .slick-dots {
    right: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 55%;
    transform: translateY(-50%);
    width: 16px;
    height: 100px;
    z-index: 1;
  }

  .slick-dots li {
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
    width: 16px;


    &:last-child {
      margin-bottom: 0;
    }
  }

  .slick-dots li button {
    background: initial;
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 50%;
    width: 16px;
    height: 16px;

    &:before {
      display: none;
    }
  }

  .slick-dots li.slick-active {
    button {
      background: rgba(255, 255, 255, .6);

      &:before {
        display: none;
      }
    }
  }
}

.pagingInfo {
  position: absolute;
  z-index: 1;
  color: rgba(255, 255, 255, .6);
  transform: rotate(90deg);
  right: 62px;
  top: 30%;
  width: 22px;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;

  &:before {
    content: '';
    position: absolute;
    bottom: 7px;
    right: -80px;
    border-right: 2px solid rgba(255, 255, 255, .6);
    height: 49px;
    transform: rotate(90deg);
  }
}

.home-section-firstSlide__slider-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    bottom: 0;
    left: 0;
    right: 0;
    background: #201F1D;
    opacity: 0.3;
  }
}

.home-section-firstSlide__title {
  line-height: rem(66);
  font-size: rem(54);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 800;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.home-section-firstSlide__subTitle {
  font-weight: bold;
  font-size: rem(24);
  line-height: rem(29);
  color: $fonts-color-8;
}

.home-section-customProducts {
  background: $default-color;
  padding-top: 47px;
  padding-bottom: 45px;
}

.home-card {
  height: 100%;
}

.home-section-customProducts__title {
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.home-section-customProducts__link {

  &:hover {
    text-decoration: none;
  }
}

.home-section-quality {
  background: $fonts-color-7;
  padding-top: 42px;
  padding-bottom: 91px;
  overflow: hidden;

  .row > div {
    .home-section-quality__card:before {
      content: '';
      position: absolute;
      right: 0;
      bottom: -76px;
      width: 0;
      border-right: 1px solid #fff;
      height: 300%;
    }

    &:last-child {
      .home-section-quality__car:before {
        display: none;
      }
    }
  }
}

.home-section-quality__title {
  padding-top: 44px;
  padding-bottom: 42px;
  max-width: 710px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: $fonts-color-7;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  font-weight: 800;
  color: $fonts-color-1;
  text-transform: uppercase;
}

.home-section-quality__card {
  background: initial;
  border: none;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    text-decoration: none;

    .card-img-block:before {
      opacity: 1;
      transition: 0.2s;
      width: 93px;
      height: 93px;
    }
  }

  .card-img-block {
    width: 168px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FFFFFF;
    border: 8px solid $fonts-color-8;
    overflow: hidden;
    margin-bottom: 27px;
    position: relative;

    &:before {
      content: 'Подробнее';
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      color: #201F1D;
      width: 0;
      height: 0;
      border-radius: 50%;
      background: rgba(255, 255, 255, .9);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.2s;
    }
  }

  .card-title {
    font-weight: bold;
    font-size: rem(18);
    line-height: rem(22);
    text-align: center;
    color: $fonts-color-1;
    max-width: 325px;
    min-height: 43px;
    margin-bottom: 13px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }
  }

  .card-text {
    font-size: 14px;
    line-height: 20px;
    color: #555555;
  }
}

.home-section-popularModels {
  padding-top: 47px;
  padding-bottom: 37px;
}

.home-section-popularModels__title {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 45px;
}

.home-section-popularModels__tab {
  justify-content: center;
  margin-bottom: 20px;

  .nav-link {
    color: $fonts-color-1;
    text-transform: uppercase;
    font-size: rem(14);
    line-height: rem(17);
    width: 154px;
    text-align: center;
    position: relative;
  }

  .nav-link.active {
    background: initial;
    color: $fonts-color-1;

    &:before {
      content: '';
      position: absolute;
      bottom: -5px;
      width: 120px;
      left: 50%;
      transform: translateX(-50%);
      border-bottom: 3px solid #FF5733;
    }
  }

  .nav-item {
    margin-right: 19px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.home-section-popularModels__catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin-bottom: 37px;

  .card-product:nth-child(1),
  & > div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;

    @include smallCard;
  }

  .card-product:nth-child(2),
  & > div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;

    @include smallCard;
  }

  .card-product:nth-child(3),
  & > div:nth-child(3) {
    grid-area: 1 / 3 / 2 / 5;

    @include middleCard;
  }

  .card-product:nth-child(4),
  & > div:nth-child(4) {
    grid-area: 2 / 1 / 2 / 2;

    @include smallCard;
  }

  .card-product:nth-child(5),
  & > div:nth-child(5) {
    grid-area: 2 / 2 / 2 / 3;

    @include smallCard;
  }

  .card-product:nth-child(6),
  & > div:nth-child(6) {
    grid-area: 2 / 3 / 3 / 4;

    @include smallCard;
  }

  .card-product:nth-child(7),
  & > div:nth-child(7) {
    grid-area: 2 / 4 / 3 / 5;

    @include smallCard;
  }
}

.home-section-showRoom {
  background: $mainFontColor;
  padding-top: 40px;
  padding-bottom: 44px;
}

.home-section-popularModels__btn {
  max-width: 296px;
  width: 100%;
  height: 61px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(14);
  line-height: rem(17);
  color: $fonts-color-7;
}

.home-section-showRoom__wrapper {
  display: flex;
  flex-direction: column;
}

.home-section-showRoom__title {
  font-weight: 800;
  text-transform: uppercase;
  color: #FFFFFF;
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;
}

.home-section-showRoom__text {
  color: $fonts-color-8;
  font-size: rem(16);
  line-height: rem(20);
  margin-bottom: 18px;
}

.home-section-showRoom__wrapper-footer {
  margin-top: 15px;
}

.home-section-showRoom__wrapper-footer-title {
  color: $default-color;
  font-weight: 800;
  font-size: rem(18);
  line-height: rem(22);
  text-transform: uppercase;
  display: block;
  margin-bottom: 6px;
}

.home-section-showRoom__block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .home-section-showRoom__text {
    margin-right: 21px;

    span {
      font-weight: bold;
      font-size: rem(16);
      line-height: rem(20);
      color: $default-color;
      margin-left: 23px;
    }
  }
}

.home-section-showRoom__map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url("../../../../assets/img/map-img.jpg") no-repeat center;
  background-size: 100% auto;
  padding: 10px;

  &:hover {
    text-decoration: none;
  }

  span {
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(17);
    color: $default-color;
    display: block;
    margin-top: 17px;
    text-align: center;
  }
}

.home-section-noRestrictions {
  padding-top: 0;
  padding-bottom: 0;
}

.home-section-noRestrictions__img {
  margin-right: -16px;
  height: 100%;
  display: flex;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.home-section-noRestrictions__content {
  max-width: 484px;
  //margin: auto;
  margin-left: 9%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.home-section-noRestrictions__title {
  font-weight: 800;
  color: $mainFontColor;
  text-transform: uppercase;
  display: block;
  margin-bottom: 33px;
}

.home-section-noRestrictions__content-subtitle {
  font-weight: 800;
  font-size: rem(18);
  line-height: rem(22);
  text-transform: uppercase;
  color: $fonts-color-2;
  display: block;
  margin-bottom: 29px;
}

.home-section-noRestrictions__content-btn {
  margin-top: 35px;
  max-width: 347px;
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(14);
}

.home-section-noRestrictions__content-body {
  display: flex;
  flex-direction: column;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -62px;
    width: 39px;
    border-bottom: 3px solid #5D4F44;
  }
}

.home-section-firstSlide__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 218px;
}

.home-section-firstSlide__block {
  width: 226px;
  height: 155px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 23px 17px 20px 20px;
  background: #ffffff;
  margin-bottom: 16px;

  p {
    color: $fonts-color-6;
    margin-bottom: 0;
    line-height: 17px;
  }

  .home-section-firstSlide__block-icon {
    margin-bottom: 11px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.advantagesAndDisadvantages {
  padding-bottom: 60px;
}

.advantagesAndDisadvantages__title {
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: $mainFontColor;
  display: block;
  margin-bottom: 80px;
}

@media (min-width: 1600px) {
  .home-section-noRestrictions__img {
    margin-right: 0;
  }
}

@media (max-width: 1199.98px) {
  .home-section-noRestrictions__img {
    img {
      min-width: calc(100% + 118px);
    }
  }

  .home-section-quality .row>div .home-section-quality__card:before {
    display: none;
  }

  .home-section-popularModels__catalog {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);

    .card-product:nth-child(1),
    & > div:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;

      @include smallCard;
    }

    .card-product:nth-child(2),
    & > div:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;

      @include smallCard;
    }

    .card-product:nth-child(3),
    & > div:nth-child(3) {
      grid-area: 2 / 1 / 3 / 3;

      @include middleCard;
    }

    .card-product:nth-child(4),
    & > div:nth-child(4) {
      grid-area: 3 / 1 / 4 / 2;

      @include smallCard;
    }

    .card-product:nth-child(5),
    & > div:nth-child(5) {
      grid-area: 3 / 2 / 4 / 3;

      @include smallCard;
    }

    .card-product:nth-child(6),
    & > div:nth-child(6) {
      grid-area: 4 / 1 / 5 / 2;

      @include smallCard;
    }

    .card-product:nth-child(7),
    & > div:nth-child(7) {
      grid-area: 4 / 2 / 5 / 3;

      @include smallCard;
    }
  }

  .home-card .card-img-block {
    max-height: 340px;
  }
}

@media (max-width: 991.981px) {
  .home-section-noRestrictions__img {
    margin-right: 0;

    img {
      min-width: 100%;
    }
  }

  .home-section-noRestrictions {
    .container {
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .home-section-noRestrictions__content {
    margin-left: auto;
    margin-right: auto;
  }

}

@media (max-width: 767.982px) {
  .home-section-noRestrictions__title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .home-section-noRestrictions__content-btn {
    max-width: 280px;
    height: 39px;
  }

  .home-section-noRestrictions__content {
    max-width: 540px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home-section-showRoom__title {
    font-size: 20px;
  }

  .home-section-showRoom__map span {
    font-size: 12px;
    margin-top: 5px;
  }

  .home-section-customProducts__title {
    font-size: 22px;
  }

  .home-section-quality__title {
    padding: 0;
  }

  .home-section-quality__card {
    margin-bottom: 35px;

    .card-text {
      text-align: center;
    }

    .card-title {
      min-height: auto;
    }

    .card-img-block {
      margin-bottom: 0;
    }
  }

  .home-section-quality {
    padding-bottom: 10px;
  }

  .home-section-popularModels__catalog {
    display: flex;
    flex-direction: column;
  }

  .home-section-firstSlide__title {
    line-height: normal;
  }

  .home-section-firstSlide__container {
    padding-top: 100px;
  }

  .home-section-firstSlide__subTitle {
    font-size: 20px;
    line-height: normal;
  }

  .home-section-firstSlide__slider .slick-dots {
    right: 30px;
    top: 80%;
  }

  .pagingInfo {
    right: 29px;
    font-size: 38px;
    top: 54%;

    &:before {
      right: -57px;
    }
  }

  .home-section-firstSlide__wrapper {
    margin-top: 100px;
  }
}

@media (max-width: 575.979px) {
  .home-section-noRestrictions__content {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .home-section-popularModels__tab {
    flex-direction: column;
    align-items: flex-start;

    .nav-link {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
      width: auto;
    }

    .nav-link.active:before {
      bottom: 0;
      width: 100%;
    }
  }
}
