.portfolio-container {
  position: relative;
  width: 100%;
  height: 585px;
  padding-top: 47px;
  padding-left: 6px;

  * {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    background: url("../../../../assets/img/porfolio-bg.png") no-repeat center;
    background-size: cover;
    width: calc(100% + 40px);
    height: 100%;
  }

  .h1 {
    color: $default-color;
    margin-bottom: 31px;
  }
}

.portfolio-container__category {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  margin: 0;
  margin-right: -8px;
  z-index: 10;
}

.portfolio-container__subtitle  {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $fonts-color-7;
  max-width: 482px;
  display: block;
}

.portfolio-list__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  max-width: 261px;
  width: 100%;
  color: $fonts-color-7;
  margin-top: 29px;
}

.portfolio-list {
  padding-bottom: 59px;
}

.block-white-column  {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  margin: 0;
  margin-right: -8px;
  height: 100%;
}

.block-white-column__content {
  background: #F9F9F9;
  width: calc(100% + 1px);
  min-height: calc(100% + 1px);
  display: block;
}

@media (min-width: 1620px) {
  .portfolio-container:before {
    width: 100%;
    left: 0;
  }

  .portfolio-container {
    padding-left: 20px;
  }
}

@media (max-width: 1199.98px) {
  .block-white-column {
    display: none;
  }

  .portfolio-container:before {
    width: 130%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 991.97px) {
  .portfolio-container:before {
    width: 150%;
  }

  .portfolio-container__category {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    padding-bottom: 30px;
    margin-top: 50px;

    & > div {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .portfolio-container {
    height: auto;
    padding-left: 0;
  }
}

@media (max-width: 767.98px) {
  .portfolio-container__subtitle {
    font-size: 18px;
    line-height: normal;
  }

  .portfolio-container .h1 {
    margin-bottom: 16px;
  }
}
