.product-page {
  .card-input-element {
    display: none;
  }
}

.product-page__row {
  display: flex;
  flex-direction: column;
}

.product-page__material-card-body-title {
  font-weight: bold;
  font-size: rem(14);
  line-height: rem(17);
  color: $fonts-color-2;
  display: block;
  margin-bottom: 6px;
}

.product-page__material-card-body-text {
  font-size: rem(14);
  line-height: rem(17);
  color: $fonts-color-3;
  margin-bottom: 14px;
}

.product-page__material-card-body-num {
  font-size: rem(14);
  line-height: rem(17);
  margin-bottom: 0;
  color: $fonts-color-2;
}

.product-page__row-subTitle {
  font-weight: bold;
  font-size: rem(16);
  line-height: rem(20);
  color: $mainFontColor;
}

.product-page__material-card-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;

  span {
    font-size: rem(12);
    line-height: rem(15);
    color: $fonts-color-3;
    margin-left: 4px;
  }
}

.product-page__row {
  max-width: 80%;
}

.product-page__material {
  background: #ffffff;
  height: 102px;
  margin-bottom: 16px;
}

.product-page__material-card {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.product-page__material-card-img {
  min-width: 226px;
  width: 226px;
  height: 100%;
  padding-top: 15px;
  padding-left: 13px;
}

.product-page__material-radio {
  background: #FFFFFF;
  border-radius: 56px;
  display: flex;
  align-items: center;
  padding: 7px 6px;
  max-width: 93px;
  cursor: pointer;
  transition: 0.3s;
}

.product-page__material-radioIcon {
  width: 16px;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #5D4F44;
  display: flex;
}

.card-input-element:checked + .product-page__material-card {
  .product-page__material-radioIcon {
    border-color: #FF5733;
  }

  .product-page__material-card-img span {
    z-index: -100;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
  }

  .product-page__material-radio {
    max-width: 28px;
    transition: 0.3s;
  }
}
