.product-page {
  .card-input-element {
    display: none;
  }
}

.product-section {
  padding-bottom: 0;
  padding-top: 22px;
}

.product-section__title {
  font-weight: bold;
  margin-top: 33px;
}

.product-page__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product-page__row {
  display: flex;
  flex-direction: column;
  padding-bottom: 36px;
  position: relative;
  margin-bottom: 25px;

  &:first-of-type {
    padding-top: 20px;
    margin-top: 20px;

    &:after {
      content: '';
      position: absolute;
      width: 92px;
      height: 0;
      border-bottom: 1px solid #E5E5E5;
      top: 0;
      left: 0;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 92px;
    height: 0;
    border-bottom: 1px solid #E5E5E5;
    bottom: 0;
    left: 0;
  }
}

.product-page__material-card-body {
  padding: 11px 10px 10px 16px;
}

.product-page__material-card-body-title {
  font-weight: bold;
  font-size: rem(14);
  line-height: rem(17);
  color: $fonts-color-2;
  display: block;
  margin-bottom: 6px;
}

.product-page__material-card-body-text {
  font-size: rem(14);
  line-height: rem(17);
  color: $fonts-color-3;
  margin-bottom: 14px;
}

.product-page__material-card-body-num {
  font-size: rem(14);
  line-height: rem(17);
  margin-bottom: 0;
  color: $fonts-color-2;
  font-weight: bold;
}

.product-page__row-subTitle {
  font-weight: bold;
  font-size: rem(16);
  line-height: rem(20);
  color: $mainFontColor;
  display: block;
}

.product-page__material-card-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;

  span {
    font-size: rem(12);
    line-height: rem(15);
    color: $fonts-color-3;
    margin-left: 4px;
    opacity: 0;
    transition: 0.3s;
  }
}

.product-page__material {
  background: #ffffff;
  height: 102px;
  margin-bottom: 16px;
  cursor: pointer;
  width: 100%;
}

.product-page__material-card {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.product-page__material-card-img {
  min-width: 226px;
  width: 226px;
  height: 100%;
  padding-top: 15px;
  padding-left: 13px;
}

.product-page__material-radio {
  background: #FFFFFF;
  border-radius: 56px;
  display: flex;
  align-items: center;
  padding: 7px 6px;
  transition: 0.3s;
  overflow: hidden;
  max-width: 28px;
}

.product-page__material-radioIcon {
  width: 16px;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid #5D4F44;
  display: flex;
  position: relative;
}

.card-input-element:checked + .product-page__material-card {
  .product-page__material-radioIcon {
    border-color: #FF5733;

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #FF5733;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .product-page__material-card-img span {
    z-index: 1;
    opacity: 1;
    transition: 0.3s;
    position: relative;
  }

  .product-page__material-radio {
    max-width: 93px;
    transition: 0.3s;
  }
}

.product-page__column {
  display: flex;
}

.product-page__column-img {
  display: flex;
  justify-content: center;
  margin-right: 22px;
  min-width: 35px;
}

.product-page__column-body {
  display: flex;
  flex-direction: column;
  padding-right: 20px;

  span {
    font-weight: bold;
    font-size: rem(16);
    line-height: rem(20);
    color: $mainFontColor;
    display: block;
    margin-bottom: 13px;
  }

  p {
    margin-bottom: 0;
  }
}

ul.product-page__column-list {
  padding-left: 16px;
}

li.product-page__column-item {
  margin-bottom: 12px;

  &:before {
    width: 4px;
    height: 4px;
    left: -16px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  p {
    line-height: rem(17);
    color: $mainFontColor;
  }


}

.product-page__price {
  font-weight: 800;
  font-size: rem(24);
  line-height: rem(29);
  color: $mainFontColor;
  margin-bottom: 18px;
}

.product-page__order {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-bottom: 16px;
}

.product-page__order-block {
  display: flex;
  align-items: center;
}

.product-page__order-favorites {
  width: 51px;
  min-width: 51px;
  height: 47px;
  background: $fonts-color-8;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  cursor: pointer;
  margin-right: 16px;
}

.product-page__order-block-btn {
  width: 226px;
  max-width: 226px;
  height: 47px;
}

.product-page__guarantee {
  background: #ffffff;
  border-bottom: 3px solid $secondary;
  min-width: 226px;
  height: 87px;
  display: flex;
  padding: 24px 20px;
}

.product-page__guarantee-text-1 {
  font-weight: bold;
  font-size: rem(16);
  line-height: rem(20);
  color: $mainFontColor;
}

.product-page__guarantee-text-2 {
  font-size: rem(16);
  line-height: rem(20);
  color: $fonts-color-2;
  margin-bottom: 0;
  position: relative;
  top: -4px;
}

.product-page__guarantee-body {
  margin-left: 20px;
}

.product-page-social {
  position: fixed;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-page-social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $fonts-color-8;
  width: 28px;
  height: 28px;
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.product-page__parameters {
  margin-bottom: 29px;
}

.product-page__parameters-item {
  margin-bottom: 14px;
  font-size: rem(14);
  line-height: rem(17);
  color: $fonts-color-2;

  span {
    font-weight: bold;
    margin-right: 4px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.product-page__description {
  margin-bottom: 0;
}

.product-page__guarantee-mobil {
  display: none;
  border-bottom: 0;
}

@media (max-width: 1600px) {
  .product-section {
    .container {
      max-width: 100% !important;
    }
  }
}


@media (max-width: 1199.98px) {
  .product-page__material-card-img {
    min-width: 150px;
    width: 150px;
  }
}

@media (max-width: 767.97px) {
  .product-section {
    padding-top: 0;
  }

  .product-page-social {
    display: none;
  }

  .product-page_wrapper {
    margin-top: 17px;

    & > nav {
      display: none;
    }
  }

  .product-section__title {
    margin-top: 17px;
    font-size: 18px;
  }

  .product-page__guarantee {
    display: none;
  }

  .product-page__price {
    font-size: 22px;
    margin-bottom: 32px;
  }

  .product-page__row:first-of-type:after {
    display: none;
  }

  .product-page__row:first-of-type {
    margin-top: 9px;
    padding-top: 0;
  }

  .product-page__order {
    margin-bottom: 0;
  }

  .product-page__row {
    margin-bottom: 20px;
    padding-bottom: 25px;

    &:before {
      left: 8px;
    }
  }

  .product-page__material {
    height: auto;
    margin-bottom: 9px;
  }

  .product-page__material-card-body {
    padding-top: 10px;
    padding-left: 13px;
  }

  .product-page__material-card-body-text {
    margin-bottom: 6px;
  }

  .product-page__material-card-img span {
    display: none;
  }

  .product-page__material-radio {
    max-width: 30px !important;
    justify-content: center;
  }

  .product-page__material-card-img {
    min-width: 91px;
    width: 91px;
    height: auto;
  }

  .product-page__parameters-item {
    margin-bottom: 9px;
    display: flex;

    span {
      min-width: 100px;
      display: block;
      margin-right: 19px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .product-page__parameters {
    margin-bottom: 24px;
  }

  .product-page__guarantee-mobil {
    display: flex;
  }
}
