.shopping-cart-section {
  background: #F7F2EF;
  padding-top: 0;
  padding-bottom: 0;
}

.shopping-cart-section__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 66px;
  padding-bottom: 84px;
}

.shopping-cart-section__list {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.shopping-cart-section__column {
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 66px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;

  & > div {
    position: relative;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: #ffffff;
    width: 300%;
    height: 100%;
  }
}

.shopping-cart-section__orderSteps {
  margin-bottom: 50px;
}

.shopping-cart-section__orderSteps-list {
  display: flex;
  flex-direction: column;
  max-width: 294px;
}

.shopping-cart-section__orderSteps-item {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.shopping-cart-section__orderSteps-num {
  width: 42px;
  height: 42px;
  min-width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 23px;

  font-size: rem(14);
  line-height: rem(17);
  text-transform: uppercase;
  color: $mainFontColor;
  border: 1px solid $mainFontColor;
  border-radius: 50%;
}

.shopping-cart-section__orderSteps-text {
  margin-bottom: 0;
  font-size: rem(14);
  line-height: rem(17);
  color: $mainFontColor;
}

.shopping-cart-section__orderSteps-title {
  font-weight: bold;
  font-size: rem(20);
  line-height: rem(24);
  text-transform: uppercase;
  color: $mainFontColor;
  margin-bottom: 32px;
  display: block;
}

.shopping-cart-section__ordering {
  margin-bottom: 92px;
}

.shopping-cart-section__ordering-text {
  font-weight: bold;
  font-size: rem(14);
  line-height: rem(17);
  color: $mainFontColor;
  margin-top: 43px;
}

.shopping-cart-section__form-btn {
  width: 203px;
  height: 47px;
  margin-top: 35px;
}

.shopping-cart-section__column-title {
  display: block;
  font-weight: bold;
  font-size: rem(20);
  line-height: rem(24);
  text-transform: uppercase;
  color: $mainFontColor;
}

.shopping-cart-section__ordering-title {
  margin-bottom: 21px;
}

.shopping-cart-section__ordering-success {
  .shopping-cart-section__ordering-title {
    color: $secondary;
  }
}

.shopping-cart-section__ordering-success-wrapper {
  max-width: 275px;
}

.shopping-cart-section__ordering-num {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.shopping-cart-section__ordering-numItem {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: rem(16);
    line-height: rem(20);
    text-transform: uppercase;
    color: #555555;

    span {
      margin-right: 12px;
    }
  }
}

.shopping-cart-section__requisites {
  padding-top: 37px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 39px;
    border-top: 1px solid $secondary;
  }
}

.shopping-cart-section__requisites-text {
  font-size: rem(16);
  line-height: rem(32);
  color: $fonts-color-6;
  margin-bottom: 0;
}

@media (max-width: 1199.98px) {

}