footer.footer
    .container
        .row
            .col-6
            .col-6
                .row
                    .col-md-6.order-0.mb-4.mb-md-0.pb-3.pb-md-0
                        div.footer__wrapper
                            span.footer__title Контакты
                            a(href='tel:+380505555555', class='footer__numLink') +38 050 555 55 55
                            p.footer__text Украина, ‎Одесса‎, ‎ул. Софиевская‎, 5а
                            a(href='https://yandex.ru/maps/213/moscow/?ll=37.622504%2C55.753215&z=10', class='footer__text mt-2 mt-md-3') Посмотреть на карте
                    .col-md-3.col-6.order-2.order-md-1
                        div.footer__wrapper
                            span.footer__title Каталог
                            ul.footer__list
                                li
                                    a(href='#' class='footer__text') Мебель
                                li
                                    a(href='#' class='footer__text') Лестницы
                                li
                                    a(href='#' class='footer__text') Межкомнатные двери
                    .col-md-3.col-6.order-1.order-md-2
                        div.footer__wrapper
                            span.footer__title Меню
                            ul.footer__list
                                li
                                    a(href='#' class='footer__text') О компании
                                li
                                    a(href='#' class='footer__text') Гарантии
                                li
                                    a(href='#' class='footer__text') Портфолио
                                li
                                    a(href='#' class='footer__text') Контакты
                    .col-md-6.col-7.mt-xl-0.mt-md-5.mt-4.pt-3.pt-md-0.order-3
                        div.footer__wrapper
                            span.footer__title Мы в соцсетях
                            ul.footer__list-social
                                li
                                    a(href='https://www.pinterest.com/').pinterest-icon
                                li
                                    a(href='https://www.instagram.com/?hl=ru').instagram-icon
                                li
                                    a(href='https://www.facebook.com/').faceBook-icon
                                li
                                    a(href='https://twitter.com/home?lang=ru').twitter-icon
                    .col-md-3.ml-xl-0.ml-auto.order-4
                        div.footer__wrapper
                            a(href='home.html' class='footer__logo') mebElier
                    .col-md-12.order-5
                        div.footer__production
                            span.mr-3.mb-0.footer__text Сделано в
                            a(href='https://webdelo.org/' class='logo-webdelo')

