header.header#header
  .container-fluid
    .row
      .col-12
        nav#header__nav.navbar.navbar-expand-xl.navbar-light.header__nav
          a.navbar-brand(href='#').order-1.order-xl-0 mebElier
          button.navbar-toggler.order-0.order-xl-1.collapsed(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.navbar-collapse.order-2.collapse(style='')
            ul.navbar-nav
              li.nav-item.dropdown.active
                a#navbarDropdown1.nav-link.dropdown-toggle(href='https://mebelier.com.ua/mebel/' role='button' aria-haspopup='true' aria-expanded='false') Мебель
                .dropdown-menu.noclose(aria-labelledby='navbarDropdown1')
                  .row
                    .col-lg-8.d-flex.flex-column
                      .dropdown-menu__list
                        span.dropdown-menu__title Категории
                        .d-flex.dropdown-menu__roster
                          ul.red-squares-list
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/gostinnye/') Гостинные
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/spalni/') Спальни
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/prihozhie/') Прихожие
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/dizaynerskaya/') Дизайнерская
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/garderobnye/') Гардеробные
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/vannaya/') Ванная
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/kuhni/') Кухни
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/detskie/') Детские
                      .dropdown-menu__list
                        span.dropdown-menu__title Подборки
                        .d-flex.dropdown-menu__roster
                          ul.red-squares-list
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/dlya-ofisa/') Для офиса
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/dlya-torgovyh-pomeshcheniy/') Для торговых помещений
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/dizaynerskaya/') Дизайнерская
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/byudzhetnyy-variant/') Бюджетный вариант
                            li.red-squares-list__item
                              a(href='https://mebelier.com.ua/mebel/mechta-tankista/') Мечта танкиста
                    .col-lg-4
                      .dropdown-menu__goods
                        span.dropdown-menu__goods-title Свежая идея
                        .min-product-card
                          .min-product-card__img(style='background-image: url("assets/img/min-product-card-img.jpg");')
                          .min-product-card__content
                            p.min-product-card__title
                              | Кухня из дерева
                            span.min-product-card__price 220 990 грн.
                            a.min-product-card__link(href='#') Подробнее
              li.nav-item.dropdown
                a#navbarDropdown2.nav-link.dropdown-toggle(href='https://mebelier.com.ua/lestnicy/' role='button' aria-haspopup='true' aria-expanded='false') Лестницы
                .dropdown-menu.noclose(aria-labelledby='navbarDropdown2')
                  .dropdown-menu__list
                    span.dropdown-menu__title Категории
                    .d-flex.dropdown-menu__roster
                      ul.red-squares-list
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/lestnicy/metallicheskie/') Металлические
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/lestnicy/derevyannye/') Деревянные
                  .dropdown-menu__list
                    span.dropdown-menu__title Подборки
                    .d-flex.dropdown-menu__roster
                      ul.red-squares-list
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/lestnicy/vintovye/') Винтовые
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/lestnicy/pryamye/') Прямые
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/lestnicy/s-povorotom/') Поворотные
              li.nav-item.dropdown
                a#navbarDropdown3.nav-link.dropdown-toggle(href='https://mebelier.com.ua/dveri/' role='button' aria-haspopup='true' aria-expanded='false') Двери
                .dropdown-menu.noclose(aria-labelledby='navbarDropdown3')
                  .dropdown-menu__list
                    span.dropdown-menu__title Категории
                    .d-flex.dropdown-menu__roster
                      ul.red-squares-list
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/dveri/vhodnye/') Входные
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/dveri/mezhkomnatnye/') Межкомнатные
                  .dropdown-menu__list
                    span.dropdown-menu__title Подборки
                    .d-flex.dropdown-menu__roster
                      ul.red-squares-list
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/dveri/otkatnye/') Откатные
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/dveri/gluhie/') Глухие
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/dveri/raspashnye/') Распашные
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/dveri/razdvizhnye/') Раздвижные
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/dveri/s-ostekleniem/') С остеклением
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/dveri/odnostvorchatye/') Одностворчатые
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/dveri/dvustvorchatye/') Двустворчатые
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/dveri/trehstvorchatye/') Трехстворчатые
                        li.red-squares-list__item
                          a(href='https://mebelier.com.ua/dveri/chetyrehstvorchatye/') Четырехстворчатые
              li.nav-item.dropdown
                a#navbarDropdown4.nav-link.dropdown-toggle(href='https://mebelier.com.ua/interior/' role='button' aria-haspopup='true' aria-expanded='false')
                  | Интерьер
                .dropdown-menu.noclose(aria-labelledby='navbarDropdown4')
                  a.dropdown-item(href='https://mebelier.com.ua/interior/') Интерьер
              li.nav-item.dropdown
                a#navbarDropdown5.nav-link.dropdown-toggle(href='#' role='button' aria-haspopup='true' aria-expanded='false') Другое
                .dropdown-menu.noclose(aria-labelledby='navbarDropdown5')
                  .content-block
                    a.dropdown-item(href='https://mebelier.com.ua/albums/') Портфолио
                    a.dropdown-item(href='https://mebelier.com.ua/about/') О компании
                    a.dropdown-item(href='https://mebelier.com.ua/guarantee/') Гарантии
                    a.dropdown-item(href='https://mebelier.com.ua/contact/') Контакты
              li.nav-item
                a.nav-link(href='https://mebelier.com.ua/albums/') Портфолио
              li.nav-item
                a.nav-link(href='https://mebelier.com.ua/about/') О компании
              li.nav-item
                a.nav-link(href='https://mebelier.com.ua/guarantee/') Гарантии
              li.nav-item
                a.nav-link(href='https://mebelier.com.ua/contact/') Контакты
            .menu-list-mob
              #accordionExample.accordion
                .card
                  #headingOne.card-header
                    .mb-0.h5
                      .card-header__wrapper
                        a(href='#').card-header__wrapperLink Мебель
                        button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='false' aria-controls='collapseOne')
                          //| Мебель
                  #collapseOne.collapse(aria-labelledby='headingOne' data-parent='#accordionExample')
                    .card-body
                      ul
                        li
                          a(href='https://mebelier.com.ua/mebel/gostinnye/') Гостинные
                        li
                          a(href='https://mebelier.com.ua/mebel/spalni/') Спальни
                        li
                          a(href='https://mebelier.com.ua/mebel/prihozhie/') Прихожие
                        li
                          a(href='https://mebelier.com.ua/mebel/dizaynerskaya/') Дизайнерская
                        li
                          a(href='https://mebelier.com.ua/mebel/garderobnye/') Гардеробные
                        li
                          a(href='https://mebelier.com.ua/mebel/vannaya/') Ванная
                        li
                          a(href='https://mebelier.com.ua/mebel/kuhni/') Кухни
                        li
                          a(href='https://mebelier.com.ua/mebel/detskie/') Детские
                .card
                  #headingTwo.card-header
                    .mb-0.h5
                      .card-header__wrapper
                        a(href='#').card-header__wrapperLink Лестницы
                        button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                        //| Лестницы
                  #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
                    .card-body
                      ul
                        li
                          a(href='https://mebelier.com.ua/lestnicy/metallicheskie/') Металлические
                        li
                          a(href='https://mebelier.com.ua/lestnicy/derevyannye/') Деревянные
                .card
                  #headingThree.card-header
                    .mb-0.h5
                      .card-header__wrapper
                        a(href='#').card-header__wrapperLink Двери
                        button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                        //| Двери
                  #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                    .card-body
                      ul
                        li
                          a(href='https://mebelier.com.ua/dveri/vhodnye/') Входные
                        li
                          a(href='https://mebelier.com.ua/dveri/mezhkomnatnye/') Межкомнатные
                .card
                  #headingFourth.card-header
                    h5.mb-0
                      .card-header__wrapper
                        a(href='#').card-header__wrapperLink Интерьер
                        button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFourth' aria-expanded='false' aria-controls='collapseFourth')
                          //| Интерьер
                  #collapseFourth.collapse(aria-labelledby='headingFourth' data-parent='#accordionExample')
                    .card-body
                      ul
                        li
                          a(href='https://mebelier.com.ua/interior/') Интерьер
                a.menu-list-mob__link(href='https://mebelier.com.ua/albums/') Портфолио
                a.menu-list-mob__link(href='https://mebelier.com.ua/about/') О компании
                a.menu-list-mob__link(href='https://mebelier.com.ua/guarantee/') Гарантии
                a.menu-list-mob__link(href='https://mebelier.com.ua/contact/') Контакты
          .language-list.dropdown.order-3
            button#myselectlanguage.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true' data-value='Ru') Ru
            ul.dropdown-menu(aria-labelledby='myselectlanguage')
              li
                a(href='#' data-value='Ru') Ru
              li
                a(href='#' data-value='En') En


          .dropdown.header__nav-phone.order-4
            button#myselectPhone.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' data-value='+38 (067) 620 01 15')
              i.kyivstar-icon.header__nav-phone-icon
              |                             &Kcy;&icy;i&vcy;&scy;&tcy;&acy;&rcy;
            ul.dropdown-menu.phone-dropdown
              li
                a(href='tel:+380676200115' data-value='+38 (067) 620 01 15')
                  i.kyivstar-icon.header__nav-phone-icon
                  |                                     &Kcy;&icy;i&vcy;&scy;&tcy;&acy;&rcy;
                  span.phone +38 (067) 620 01 15
              li
                a(href='tel:+380506200115' data-value='+38 (050) 620 01 15')
                  i.vodafone-icon.header__nav-phone-icon
                  |                                     Vodafone
                  span.phone +38 (050) 620 01 15
              li
                a(href='tel:+380936200115' data-value='+38 (093) 620 01 15')
                  i.turkcell-icon.header__nav-phone-icon
                  |                                     Lifecell
                  span.phone +38 (093) 620 01 15
            #myTextPhone
              a.dropdown.header__nav-phone-number(href='tel:+380676200115') +38 (067) 620 01 15


          span.phone-icon-mob.order-4
          form.form-inline.my-2.my-lg-0.form-search.order-5
            button.btn.btn-outline-success.my-2.my-sm-0.form-search__btn(type='submit')
            input.form-control.form-search__input(type='search', placeholder='Поиск ...', aria-label='Search')
            input.form-search__close(type='reset' value='')
          a(href='#').header__favorites.order-6
            //span.header__counter.header__favorites-counter 1
          a(href='#').header__shopCard.order-7
            span.header__counter.header__shopCard-counter 1
          #form-search-mobil.form-search-mobil
            form.form-search-mobil__block
              input(type='search' placeholder='Поиск по сайту')
              input(type='reset' value='')
            .form-search__bg-close
          #phone-mobil-container.phone-mobil-container
            a(href='tel:+380676200115') <p><i class="kyivstar-icon"></i> Киiвстар</p> <span>+38 067 620 01 15</span>
            a(href='tel:+380506200115') <p><i class="vodafone-icon"></i> Vodafone</p> <span>+38 050 620 01 15</span>
            a(href='tel:+380936200115') <p><i class="turkcell-icon"></i> Lifecell</p> <span>+38 093 620 01 15</span>
            button
          .phone-mobil-container_bg
