header.header
  .container-fluid
    .row
      .col-12
        nav#header__nav.navbar.navbar-expand-xl.navbar-light.header__nav
          a.navbar-brand(href='#').order-1.order-xl-0 mebElier
          button.navbar-toggler.order-0.order-xl-1(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse.order-2
            ul.navbar-nav
              li.nav-item
                a#navbarDropdown1.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Мебель
                .dropdown-menu(aria-labelledby='navbarDropdown1')
                  .row
                    .col-lg-8.d-flex.flex-column
                      div.dropdown-menu__list
                        span.dropdown-menu__title Категории
                        div.d-flex.dropdown-menu__roster
                          ul.red-squares-list
                            li.red-squares-list__item
                              a(href='#') Гостинные
                            li.red-squares-list__item
                              a(href='#') Спальни
                          ul.red-squares-list
                            li.red-squares-list__item
                              a(href='#') Прихожие
                            li.red-squares-list__item
                              a(href='#') Детские
                          ul.red-squares-list
                            li.red-squares-list__item
                              a(href='#') Кухни
                            li.red-squares-list__item
                              a(href='#') Дизайнерская
                      div.dropdown-menu__list
                        span.dropdown-menu__title Подборки
                        div.d-flex.dropdown-menu__roster
                          ul.red-squares-list
                            li.red-squares-list__item
                              a(href='#') Дизайнерские
                          ul.red-squares-list
                            li.red-squares-list__item
                              a(href='#') Бюджетный вариант
                          ul.red-squares-list
                            li.red-squares-list__item
                              a(href='#') Мечта танкиста
                    .col-lg-4
                      div.dropdown-menu__goods
                        span.dropdown-menu__goods-title Товар дня
                        +miniProductCard('min-product-card-img.jpg', 'Кухня из дерева', '220 990 грн.')
              li.nav-item.active
                a#navbarDropdown2.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Лестницы
                .dropdown-menu(aria-labelledby='navbarDropdown2')
                  a.dropdown-item(href='#') ЛЕСТНИЦЫ
              li.nav-item
                a#navbarDropdown3.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Межкомнатные двери
                .dropdown-menu(aria-labelledby='navbarDropdown3')
                  a.dropdown-item(href='#') ДВЕРИ
              li.nav-item
                a#navbarDropdown4.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Другое
                .dropdown-menu(aria-labelledby='navbarDropdown4')
                  .content-block
                    a.dropdown-item(href='#') О нас
                    a.dropdown-item(href='#') Портфолио
                    a.dropdown-item(href='#') Контакты

              li.nav-item
                a.nav-link(href='#') О нас
              li.nav-item
                a.nav-link(href='#') Портфолио
              li.nav-item
                a.nav-link(href='#') Контакты
          a.header__nav-phone.order-3(href='#')
            | +38 050 555 55 55
          form.form-inline.my-2.my-lg-0.form-search.order-4
            button.btn.btn-outline-success.my-2.my-sm-0.form-search__btn(type='submit')
            input.form-control.form-search__input(type='search', placeholder='Поиск ...', aria-label='Search')
          a(href='#').header__favorites.order-5
          a(href='#').header__shopCard.order-6
            span.header__shopCard-counter 1
          #form-search-mobil.form-search-mobil
            .form-search-mobil__block
              input(type='search' placeholder='Поиск по сайту' )
              button
            .form-search__bg-close

