header.header#header
  .container-fluid
    .row
      .col-12
        nav#header__nav.navbar.navbar-expand-xl.navbar-light.header__nav
          a.navbar-brand(href='#').order-1.order-xl-0 mebElier
          button.navbar-toggler.order-0.order-xl-1.collapsed(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.collapse.navbar-collapse.order-2
            ul.navbar-nav
              li.nav-item
                a#navbarDropdown1.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Мебель
                .dropdown-menu.noclose(aria-labelledby='navbarDropdown1')
                  .row
                    .col-lg-8.d-flex.flex-column
                      div.dropdown-menu__list
                        span.dropdown-menu__title Категории
                        div.d-flex.dropdown-menu__roster
                          ul.red-squares-list
                            li.red-squares-list__item
                              a(href='#') Гостинные
                            li.red-squares-list__item
                              a(href='#') Спальни
                            li.red-squares-list__item
                              a(href='#') Прихожие
                            li.red-squares-list__item
                              a(href='#') Детские
                            li.red-squares-list__item
                              a(href='#') Кухни
                            li.red-squares-list__item
                              a(href='#') Дизайнерская

                      div.dropdown-menu__list
                        span.dropdown-menu__title Подборки
                        div.d-flex.dropdown-menu__roster
                          ul.red-squares-list
                            li.red-squares-list__item
                              a(href='#') Дизайнерские
                            li.red-squares-list__item
                              a(href='#') Бюджетный вариант
                            li.red-squares-list__item
                              a(href='#') Мечта танкиста

                    .col-lg-4
                      div.dropdown-menu__goods
                        span.dropdown-menu__goods-title Товар дня
                        +miniProductCard('min-product-card-img.jpg', 'Кухня из дерева', '220 990 грн.')
              li.nav-item.active
                a#navbarDropdown2.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Лестницы
                .dropdown-menu.noclose(aria-labelledby='navbarDropdown2')
                  a.dropdown-item(href='#') ЛЕСТНИЦЫ
              li.nav-item
                a#navbarDropdown3.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Двери
                .dropdown-menu.noclose(aria-labelledby='navbarDropdown3')
                  a.dropdown-item(href='#') ДВЕРИ
              li.nav-item
                a#navbarDropdown4.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Интерьер <span class='text-secondary'>+</span>
                .dropdown-menu.noclose(aria-labelledby='navbarDropdown4')
                  a.dropdown-item(href='#') Интерьер <span class='text-secondary'>+</span>
              li.nav-item
                a#navbarDropdown5.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Другое
                .dropdown-menu.noclose(aria-labelledby='navbarDropdown5')
                  .content-block
                    a.dropdown-item(href='#') О нас
                    a.dropdown-item(href='#') Портфолио
                    a.dropdown-item(href='#') Контакты

              li.nav-item
                a.nav-link(href='#') О нас
              li.nav-item
                a.nav-link(href='#') Портфолио
              li.nav-item
                a.nav-link(href='#') Контакты
            .menu-list-mob
              #accordionExample.accordion
                .card
                  #headingOne.card-header
                    h5.mb-0
                      button.btn.btn-link(type='button' data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                        | Мебель
                  #collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordionExample')
                    .card-body
                      ul
                        li
                          a(href='#') Спальни
                        li
                          a(href='#') Прихожие
                        li
                          a(href='#') Гостинные
                        li
                          a(href='#') Детские
                        li
                          a(href='#') Кухни
                        li
                          a(href='#') Дизайнерская
                .card
                  #headingTwo.card-header
                    h5.mb-0
                      button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                        | Лестницы
                  #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionExample')
                    .card-body
                      ul
                        li
                          a(href='#') Спальни
                        li
                          a(href='#') Прихожие
                        li
                          a(href='#') Гостинные
                        li
                          a(href='#') Детские
                        li
                          a(href='#') Кухни
                        li
                          a(href='#') Дизайнерская
                .card
                  #headingThree.card-header
                    h5.mb-0
                      button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
                        | Двери
                  #collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordionExample')
                    .card-body
                      ul
                        li
                          a(href='#') Спальни
                        li
                          a(href='#') Прихожие
                        li
                          a(href='#') Гостинные
                        li
                          a(href='#') Детские
                        li
                          a(href='#') Кухни
                        li
                          a(href='#') Дизайнерская

                .card
                  #headingFourth.card-header
                    h5.mb-0
                      button.btn.btn-link.collapsed(type='button' data-toggle='collapse' data-target='#collapseFourth' aria-expanded='false' aria-controls='collapseFourth')
                        | Интерьер <span class='text-secondary'>+</span>
                  #collapseFourth.collapse(aria-labelledby='headingFourth' data-parent='#accordionExample')
                    .card-body
                      ul
                        li
                          a(href='#') Интерьер <span class='text-secondary'>+</span>

                a.menu-list-mob__link(href='#') Портфолио
                a.menu-list-mob__link(href='#') О нас
                a.menu-list-mob__link(href='#') Контакты
          .language-list.dropdown.order-3
            button#myselectlanguage.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='true' data-value='Ru') Ru
            ul.dropdown-menu(aria-labelledby='myselectlanguage')
              li
                a(href='#' data-value='Ru') Ru
              li
                a(href='#' data-value='En') En


          .dropdown.header__nav-phone.order-4
            button#myselectPhone.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' data-value='+38 (067) 620 01 15')
              i.kyivstar-icon.header__nav-phone-icon
              |                             &Kcy;&icy;i&vcy;&scy;&tcy;&acy;&rcy;
            ul.dropdown-menu.phone-dropdown
              li
                a(href='tel:+380676200115' data-value='+38 (067) 620 01 15')
                  i.kyivstar-icon.header__nav-phone-icon
                  |                                     &Kcy;&icy;i&vcy;&scy;&tcy;&acy;&rcy;
                  span.phone +38 (067) 620 01 15
              li
                a(href='tel:+380506200115' data-value='+38 (050) 620 01 15')
                  i.vodafone-icon.header__nav-phone-icon
                  |                                     Vodafone
                  span.phone +38 (050) 620 01 15
              li
                a(href='tel:+380936200115' data-value='+38 (093) 620 01 15')
                  i.turkcell-icon.header__nav-phone-icon
                  |                                     Lifecell
                  span.phone +38 (093) 620 01 15
            #myTextPhone
              a.dropdown.header__nav-phone-number(href='tel:+380676200115') +38 (067) 620 01 15


          span.phone-icon-mob.order-4
          form.form-inline.my-2.my-lg-0.form-search.order-5
            button.btn.btn-outline-success.my-2.my-sm-0.form-search__btn(type='submit')
            input.form-control.form-search__input(type='search', placeholder='Поиск ...', aria-label='Search')
            input.form-search__close(type='reset' value='')
          a(href='#').header__favorites.order-6
            //span.header__counter.header__favorites-counter 1
          a(href='#').header__shopCard.order-7
            span.header__counter.header__shopCard-counter 1
          #form-search-mobil.form-search-mobil
            form.form-search-mobil__block
              input(type='search' placeholder='Поиск по сайту')
              input(type='reset' value='')
            .form-search__bg-close
          #phone-mobil-container.phone-mobil-container
            a(href='tel:+380676200115') <p><i class="kyivstar-icon"></i> Киiвстар</p> <span>+38 067 620 01 15</span>
            a(href='tel:+380506200115') <p><i class="vodafone-icon"></i> Vodafone</p> <span>+38 050 620 01 15</span>
            a(href='tel:+380936200115') <p><i class="turkcell-icon"></i> Lifecell</p> <span>+38 093 620 01 15</span>
            button
          .phone-mobil-container_bg
