ul.red-squares-list
    li.red-squares-list__item
        span Цены индивидуальные
        p Цены расчитаны под стандартный проект, ваши требования могут отличатся, мы бесплатно сделаем расчет.
    li.red-squares-list__item
        span Любой проект за 60 дней
        p 60 дней крайний срок, делаем и быстрее
    li.red-squares-list__item
        span Работаем по всей Украине
        p Мы делаем заказ для любого региона, и да, доставим бесплатно, хоть в Харьков хоть в Черновцы.
