.block-article {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $default-color;
  border: 1px solid $fonts-color-2;
  padding-top: 13px;

  &:hover {
    text-decoration: none;
  }

  img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.block-article__body {
  display: flex;
  flex-direction: column;
  padding: 25px 35px 32px 50px;
}

.block-article__title {
  font-weight: bold;
  font-size: rem(24);
  line-height: rem(29);
  color: $mainFontColor;
  margin-bottom: rem(15);
}

.block-article__text {
  font-size: rem(14);
  line-height: rem(24);
  color: $fonts-color-3;
}

.block-article__tripleks button {
  display: none;
}

@media (max-width: 1199.98px) {
  .block-article {
    flex-direction: row;
    padding: 40px 0 40px 25px;
    align-items: center;
  }

  .block-article__tripleks button {
    display: block;
  }
}

@media (max-width: 991.97px) {
  .block-article img {
    max-width: 269px;
    display: block;
    width: 50%;
  }

  .block-article__body {
    padding: 0 30px 0 34px;
  }

  .block-article__text {
    font-size: rem(14);
  }

  .catalog-filter__list {
    align-items: flex-start;
  }
}

@media (max-width: 767.96px) {
  .block-article {
    flex-direction: column;
    padding: 17px 25px 27px 25px;

    img {
      width: 100%;
    }
  }

  .block-article__body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 41px;
  }

  .block-article__title {
    font-size: rem(18);
    line-height: rem(22);
  }

  .catalog-filter__list {
    flex-direction: column;
  }
}
