.form-search {
  display: flex;
  align-items: center;
  margin-left: 46px;
  flex-wrap: nowrap;
  position: relative;
  transition: 0.4s;
  width: 117px;
}

.form-search__btn {
  border: none;
  background: url("../../../../assets/img/loupe.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  min-width: 18px;
  height: 18px;
  display: block;
  padding: 0;
  box-shadow: none;

  &:focus,
  &:hover {
    box-shadow: none !important;
    outline: none !important;
    background-color: initial !important;
  }
}

.form-search__input {
  border: none;
  max-width: 85px;
  width: 100%;
  padding-left: 0;
  margin-left: 14px;
  transition: 0.2s;
  border-radius: 0;

  &:focus {
    box-shadow: none;
  }

  &::-webkit-input-placeholder {color:$mainFontColor; font-size: 0.875rem}
  &::-moz-placeholder          {color:$mainFontColor; font-size: 0.875rem}/* Firefox 19+ */
  &:-moz-placeholder           {color:$mainFontColor; font-size: 0.875rem}/* Firefox 18- */
  &:-ms-input-placeholder      {color:$mainFontColor; font-size: 0.875rem}
}

.form-search__close {
  position: absolute;
  right: 0;
  display: none;
  background: initial;
  box-shadow: none;
  border: none;
  outline: none;
  width: 11px;
  height: 11px;
  background: url(../../../../assets/img/input-close.svg) no-repeat 50%;
  background-size: 100% auto;
}

.navbar.search-open {
  .form-search__input {
    max-width: 600px;
    width: 100%;
    transition: 0.2s;
  }

  .form-search {
    width: 500px;
    border-bottom: 1px solid $secondary;
    transition: 0.4s;
  }

  .form-search__close {
    display: block;
  }
}

.form-search-mobil {
  position: absolute;
  bottom: -55px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  height: 52px;
  align-items: center;
  justify-content: space-between;
  padding-left: 17px;
  padding-right: 17px;
  display: none;
  overflow: hidden;
  z-index: 10;

  input {
    width: calc(100% - 20px);
    &::-webkit-input-placeholder {color: #5D4F44}
    &:-moz-placeholder           {color: #5D4F44}
    &::-moz-placeholder          {color: #5D4F44}
    &:-ms-input-placeholder      {color: #5D4F44}
  }
}

.form-search-mobil__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;

  input[type='reset'] {
    width: 16px;
    height: 16px;
    background: url("../../../../assets/img/input-close.svg") no-repeat center;
    background-size: 100% auto;
    border: none;
    box-shadow: none;
    outline: none;

    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

@media (min-width: 1200px) and (max-width: 1300px)  {
  .form-search {
    margin-left: 20px;
  }
}

@media (max-width: 1199.98px) {
  .navbar.search-open {
    .form-search__input {
      max-width: 600px;
      width: 100%;
      transition: 0.2s;
    }

    .form-search {
      width: auto;
    }
  }
}

@media (max-width: 991.981px) {
  .form-inline .form-control.form-search__input {
    width: 0;
  }

  .form-search {
    position: relative;
    cursor: pointer;
    width: 40px;
    margin-left: 10px;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 100;
    }
  }

  .search-open-mobil {
    .form-search-mobil {
      display: flex;
    }

    .form-search__bg-close {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
    }

    .form-search-mobil__block {
      z-index: 100;
    }
  }
}

@media (max-width: 767.971px) {
  .form-search__btn {
    width: 15px;
    min-width: 15px;
    height: 15px;
  }

  .form-search {
    width: 18px;
  }

  .form-search-mobil {
    bottom: -52px;
  }
}
