.form-search {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.form-search__btn {
  border: none;
  background: url("/assets/img/loupe.svg") no-repeat center;
  background-size: 100% auto;
  width: 18px;
  height: 18px;
  display: block;
  padding: 0;
  box-shadow: none;

  &:focus,
  &:hover {
    box-shadow: none !important;
    outline: none !important;
    background-color: initial !important;
  }
}

.form-search__input {
  border: none;
  max-width: 85px;
  width: 100%;
  padding-left: 0;
  margin-left: 14px;
  transition: 0.2s;

  &:focus {
    box-shadow: none;
  }

  &::-webkit-input-placeholder {color:$mainFontColor; font-size: 0.875rem}
  &::-moz-placeholder          {color:$mainFontColor; font-size: 0.875rem}/* Firefox 19+ */
  &:-moz-placeholder           {color:$mainFontColor; font-size: 0.875rem}/* Firefox 18- */
  &:-ms-input-placeholder      {color:$mainFontColor; font-size: 0.875rem}
}

.navbar.search-open {
  .form-search__input {
    max-width: 400px;
    transition: 0.2s;
  }
}

.form-search-mobil {
  position: absolute;
  bottom: -55px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  height: 52px;
  align-items: center;
  justify-content: space-between;
  padding-left: 17px;
  padding-right: 17px;
  display: none;
  overflow: hidden;

  input {
    width: calc(100% - 20px);
    &::-webkit-input-placeholder {color: #5D4F44}
    &:-moz-placeholder           {color: #5D4F44}
    &::-moz-placeholder          {color: #5D4F44}
    &:-ms-input-placeholder      {color: #5D4F44}
  }
}

.form-search-mobil__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;

  button {
    width: 16px;
    height: 16px;
    background: url("/assets/img/input-close.svg") no-repeat center;
    background-size: 100% auto;
    border: none;
    box-shadow: none;
    outline: none;

    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
}

@media (max-width: 991.98px) {
  .form-inline .form-control.form-search__input {
    width: 0;
  }

  .form-search {
    position: relative;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 100;
    }
  }

  .search-open-mobil {
    .form-search-mobil {
      display: flex;
    }

    .form-search__bg-close {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
    }

    .form-search-mobil__block {
      z-index: 100;
    }
  }


}
