.home-card {
  border: none;

  .card-body {
    padding: 23px 0 0 0;
  }

  .card-title {
    font-weight: bold;
    font-size: rem(32);
    line-height: rem(39);
    color: $mainFontColor;
    display: block;
    margin-bottom: 12px;
  }

  .card-text {
    font-size: rem(16);
    line-height: rem(20);
    color: $fonts-color-2;
    margin-bottom: 0;
  }

  .card-img-block {
    max-height: 589px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      object-fit: cover;
      width: auto;
      height: 100%;
    }
  }
}

@media (max-width: 991.981px) {

  .home-card {
    margin-bottom: 40px;

    .card-body {
      padding-top: 15px;
    }

    .card-text {
      font-size: 14px;
    }

    .card-img-block {
      overflow: hidden;
      position: relative;
      height: 340px;

      img {
        position: absolute;
        bottom: 0;
        height: auto;
        width: 100%;
      }
    }
  }
}

@media (max-width: 767.982px) {
  .home-card .card-title {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 8px;
  }

  .home-card .card-img-block {
    height: auto;

    img {
      position: relative;
      height: 100%;
      width: auto;
    }
  }
}
