.product-image {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  position: fixed;
  max-width: 50%;
  left: 0;
  top: 0;
  z-index:99;
  padding-right: 8px;

  span {
    position: absolute;
    left: 20px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    background: url("../../../../assets/img/arrows-gallery.svg") no-repeat center;
    background-size: 100% auto;
    cursor: pointer;
    z-index: 1;
  }

  .slick-slide {
    overflow: hidden;

    & > div > div {
      position: relative;
    }
  }

  .slick-track {
    height: 100%;
  }

  .slick-arrow {
    z-index: 100;
    top: auto;
    bottom: -40px;
    width: 80px;
    height: 80px;
    background: rgba(255, 87, 51, .8);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: '';
      background: url("../../../../assets/img/product-image-arrow.svg") no-repeat center;
      background-size: 100% auto;
      width: 12px;
      height: 24px;
      display: block;
    }

    &:hover {
      background: rgba(255, 87, 51, 1);
      transition: 0.3s;
    }

    &.slick-disabled {
      background: rgba(255, 87, 51, .5);
    }
  }

  .slick-prev {
    left: auto;
    right: 88px;

    &:before {
     transform: rotate(180deg);
    }
  }

  .slick-next {
    right: 8px;
  }
}

.product-image__block {
  position: relative;
  cursor: grab;
  width: 100%;
  min-height: 100vh;
  height: calc(100vh + 16px);
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: 100%;

  &:active {
    cursor: grabbing;
  }

  img {
    width: auto;
    height: 100%;
    object-fit: cover;
    max-width: initial;
    //position: absolute;
    //min-width: 100%;
    //bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .product-image .slick-arrow {
    width: 53px;
    height: 53px;
    bottom: -27px;
  }

  .product-image .slick-prev {
    right: 46px;
  }

  .product-image .slick-next {
    right: -7px;
  }

  .product-image {
    position: static;
    height: 396px;
    max-width: calc(100% + 30px);
    min-height: auto;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;

    .slick-slide > div {
      height: 100%;
      position: relative;
    }

    .slick-slide > div > div {
      height: 100%;
      position: relative;
    }
  }

  .product-image__block {
    min-height: 100%;
    height: 100%;

  }

  .product-image span {
    left: 10px;
    bottom: 10px;
  }
}
