.red-squares-list {
  padding-left: 26px;
}

.red-squares-list__item {
  margin-bottom: 24px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FF5733;
    top: 6px;
    left: -26px;
  }

  span {
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 22px;
    color: $mainFontColor;
  }

  p {
    font-size: rem(14);
    line-height: rem(17);
    color: $fonts-color-2;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.header__nav {
  .red-squares-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .red-squares-list__item {
    width: 33%;
    a {
      font-size: 14px;
      line-height: 17px;
      color: $mainFontColor;
    }
  }

  .red-squares-list__item:before {
    top: 4px;
  }
}

.red-squares-list__wrapper {
  max-width: 516px;
}

@media (max-width: 767.97px) {
  .red-squares-list__item {
    span {
      font-size: rem(16);
      line-height: rem(20);
    }

    p {
      font-size: rem(12);
      line-height: rem(15);
    }
  }
}
