extends ../layout/main

block variables
    - var title = 'Catalog';
    - var description = 'Catalog';
    - var pageClass = 'index-page';

block content
    section.catalog-first-section
        .container
            .row
                .col-xl-5.bg-white-color
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                a(href='#') Главная
                            li.breadcrumb-item.active(aria-current='page') Лестницы
                    h1.h1 Лестницы на <br> заказ
                    .red-squares-list__wrapper
                        ul.red-squares-list
                            li.red-squares-list__item
                                span Цены индивидуальные
                                p Цены расчитаны под стандартный проект, ваши требования могут отличатся, мы бесплатно сделаем расчет.
                            li.red-squares-list__item
                                span Любой проект за 60 дней
                                p 60 дней крайний срок, делаем и быстрее
                            li.red-squares-list__item
                                span Работаем по всей Украине
                                p Мы делаем заказ для любого региона, и да, доставим бесплатно, хоть в Харьков хоть в Черновцы.
                .col-xl-7
                    .catalog-slider
                        h4.catalog-slider__title Виды лестниц
                        .catalog-slider__list.circle-slider-btn
                            +type-stair('type-stair-1.jpg', 'Винтовые', 'Это лестницы которые поворачивают')
                            +type-stair('type-stair-2.jpg', 'Поворотные', 'Это лестницы которые поворачивают')
                            +type-stair('type-stair-3.jpg', 'Прямые', 'Это лестницы которые поворачивают')
                            +type-stair('type-stair-4.jpg', 'Металлические', 'Это лестницы которые поворачивают')

    section.catalog-second-section
        .container.catalog-filter
            .row
                .col-xl-5
                    span.h2.catalog-filter__title Каталог моделей
                .col-xl-7
                    .catalog-filter__list
                        .catalog-filter__item
                            .form-group
                                label(for='inputStateTypeFirst') Тип лестниц:
                                select#inputStateTypeFirst.form-control
                                    option(selected='selected') Все типы
                                    option a
                                    option as
                                    option gdfgmsjdfhgjsdfhgjs
                                    option dfasdf
                        .catalog-filter__item
                            .form-group
                                label(for='inputStateTypeSecond') Ограждение:
                                select#inputStateTypeSecond.form-control
                                    option(selected='selected') Любое
                                    option a
                                    option as
                                    option gdfgmsjdfhgjsdfhgjs
                                    option dfasdf
                        .catalog-filter__item
                            .form-group
                                label(for='inputStateTypeThird') Материал ступений:
                                select#inputStateTypeThird.form-control
                                    option(selected='selected') Любое
                                    option a
                                    option as
                                    option gdfgmsjdfhgjsdfhgjs
                                    option dfasdf
        .container.catalog-container
            .row
                .col-12
                    .catalog-second-section__wrapper
                        +productCard('card-product card-product_bottom-left active', 'catalog-1.png', 'Винтовая дизайнерская', '79 990 грн.')
                        +productCard('card-product card-product_top-left', 'catalog-2.png', 'Со стеклянными ограждениями', '220 990 грн.')
                        +productCard('card-product card-product_top-left', 'catalog-3.png', 'Дизайнерская лестница', '149 990 грн.')
                        +productCard('card-product card-product_top-left dark-background', 'catalog-4.png', 'Дизайнерская лестница', '149 990 грн.')
                        +productCard('card-product card-product_top-left', 'catalog-5.png', 'Винтовая дизайнерская', '79 990 грн.')
                        +productCard('card-product card-product_top-left', 'catalog-6.png', 'Винтовая дизайнерская', '79 990 грн.')
                        +catalogInfo('shadow-none', 'true', 'linear-gradient(269.43deg, #2B2223 0.56%, rgba(43, 34, 35, 0.41) 99.43%), url("assets/img/backlight.png")', 'Подсветка', 'Светодиодные ленты высокого качества (не перегорят через неделю).', 'Монтаж выполняют опытные специалисты (ваша страховка от короткого замыкания и пожара вследствие непрофессионального монтажа).')
                        +productCard('card-product card-product_top-left', 'catalog-7.png', 'Винтовая дизайнерская', '79 990 грн.')
                        +productCard('card-product card-product_top-left', 'catalog-8.png', 'Винтовая дизайнерская', '79 990 грн.')
                        +productCard('card-product card-product_top-left', 'catalog-9.png', 'Современная деревянная лестница', '79 990 грн.')
                        +productCard('card-product card-product_top-left dark-background', 'catalog-10.png', 'Со стеклянными ограждениями', '220 990 грн.')
                        +productCard('card-product card-product_bottom-left', 'catalog-11.png', 'Дизайнерская лестница', '149 990 грн.')

                    button.btn.btn-dark.catalog-container__btn Загрузить еще 12 товаров
        .container.manufacturing-stairs-container
            .row
                .col-12
                    span.h2.d-block.text-center.mb-4.text-uppercase.font-800 Изготавливаем лестницы, как для себя!
                    p.manufacturing-stairs-container__subtitle Мы контролируем каждую стадию процесса производства:
                .col-xl-4.col-lg-6
                    .manufacturing-stairs-container__block
                        .manufacturing-stairs-container__block-img
                            img.w-100(src='assets/img/manufacturing-stairs-img-1.png')
                        p Закупаем кругляк высокого качества от проверенных поставщиков;
                .col-xl-4.col-lg-6
                    .manufacturing-stairs-container__block
                        .manufacturing-stairs-container__block-img
                            img.w-100(src='assets/img/manufacturing-stairs-img-2.png')
                        p Правильно сушим древесину;
                .col-xl-4.col-lg-6
                    .manufacturing-stairs-container__block
                        .manufacturing-stairs-container__block-img
                            img.w-100(src='assets/img/manufacturing-stairs-img-3.png')
                        p Тщательно продумываем каждую деталь лестницы, учитывая особенности планировки и стиля интерьера помещения;
                .col-xl-4.col-lg-6
                    .manufacturing-stairs-container__block
                        .manufacturing-stairs-container__block-img
                            img.w-100(src='assets/img/manufacturing-stairs-img-4.png')
                        p Проводим раскрой и подгонку деталей на современных станках с ЧПУ;
                .col-xl-4.col-lg-6
                    .manufacturing-stairs-container__block
                        .manufacturing-stairs-container__block-img
                            img.w-100(src='assets/img/manufacturing-stairs-img-5.png')
                        p Склеиваем детали в профессиональных гидравлических ваймах с строгим соблюдением выдержки и температурного режима;
                .col-xl-4.col-lg-6
                    .manufacturing-stairs-container__block
                        .manufacturing-stairs-container__block-img
                            img.w-100(src='assets/img/manufacturing-stairs-img-6.png')
                        p Доверяем сборку и монтаж лестниц только опытным столярам.
                .col-12
                    .manufacturing-stairs-container__memo
                        .manufacturing-stairs-container__memo-wrapper
                            p Наши деревянные лестницы не нужно переделывать или ремонтировать через 10-15 лет!

        .manufacturing-stages
            .container
                .row
                    .col-12
                        span.h2.d-block.text-center.mb-4.pb-3.text-uppercase.font-800 Как мы изготовим вашу лестницу на заказ?
                        .manufacturing-stages__list
                            .manufacturing-stages__item.manufacturing-stages__item-1
                                span.manufacturing-stages__item-step 1 этап
                                span.manufacturing-stages__item-title Выезд замерщика
                                p.manufacturing-stages__item-text В удобное для вас время приезжает специалист. Он максимально точно снимает замеры. Обсуждает ваши пожелания и требования. Дает рекомендации о том, как грамотно использовать пространство. Помогает выбрать тип ограждения и материал ступеней с учетом особенностей помещения и стиля интерьера. Формирует оптимальное решение с учетом вашего бюджета.
                            .manufacturing-stages__item.manufacturing-stages__item-2
                                span.manufacturing-stages__item-step 2 этап
                                span.manufacturing-stages__item-title Презентация проекта
                                p.manufacturing-stages__item-text Проектный отдел разрабатывает макет лестницы и его визуализацию. До начала работ Вы увидите, как она будет выглядеть. При необходимости, вносим корректировки с учетом ваших пожеланий. Составляется смета. Заключается договор.

                            .manufacturing-stages__item.manufacturing-stages__item-3
                                span.manufacturing-stages__item-step 3 этап
                                span.manufacturing-stages__item-title Контрольный замер
                                p.manufacturing-stages__item-text Специалист замеряет стены с разных ракурсов и сторон с точностью до 1 мм. Снимает шаблоны на ступени и пролеты.

                            .manufacturing-stages__item.manufacturing-stages__item-4
                                span.manufacturing-stages__item-step 4 этап
                                span.manufacturing-stages__item-title Изготовление
                                p.manufacturing-stages__item-text В фиксированный в договоре срок изготавливаем все элементы конструкции.

                            .manufacturing-stages__item.manufacturing-stages__item-5
                                span.manufacturing-stages__item-step 5 этап
                                span.manufacturing-stages__item-title Контрольная сборка
                                p.manufacturing-stages__item-text Доставляем ступени в черновом варианте на объект и собираем лестницу. Убеждаемся, что все детали идеально подходят друг другу. Разбираем лестницу и отправляем на фабрику для чистовой обработки и покраски.

                            .manufacturing-stages__item.manufacturing-stages__item-6
                                span.manufacturing-stages__item-step 6 этап
                                span.manufacturing-stages__item-title Контрольная сборка
                                p.manufacturing-stages__item-text Каждая деталь отдельно шлифуется, грунтуется и красится. Затем тщательно упаковывается для исключения риска повреждения при транспортировке.

                            .manufacturing-stages__item.manufacturing-stages__item-7
                                span.manufacturing-stages__item-step 7 этап
                                span.manufacturing-stages__item-title Сборка
                                p.manufacturing-stages__item-text Привозим детали лестницы на объект. В течение дня осуществляем их сборку. Убираем помещение, выносим мусор. Наслаждаемся довольной улыбкой клиента.




        .container
            .row
                .col-xl-8.mb-xl-0.mb-4
                    .catalog-second-section__exploitation
                        .catalog-second-section__exploitation-content
                            span.catalog-second-section__exploitation-title Нет скрипов при эксплуатации
                            p.catalog-second-section__exploitation-text Используем правильно высушенную древесину. Подгонку деталей выполняем на высокоточном оборудовании. Стыки во время сборки лестницы тщательно обрабатываем специальными составами.  Используем правильно высушенную древесину.
                            p.catalog-second-section__exploitation-text Подгонку деталей выполняем на высокоточном оборудовании. Стыки во время сборки лестницы тщательно обрабатываем специальными составами.
                            a.btn.btn-outline-dark.catalog-second-section__exploitation-btn(href='#') Подробнее
                .col-xl-4
                    a.block-article.block-article__tripleks(href='#')
                        img(src='assets/img/block-article-1.png')
                        .block-article__body
                            span.block-article__title Триплекс — безопасно, надежно, стильно
                            p.block-article__text При повреждении не рассыпается на осколки. Можно изготовить в любом цвете, нанести художественную матировку, выполнить УФ-печать.
                            button.btn.btn-outline-dark.catalog-second-section__exploitation-btn.mx-auto(href='#') Подробнее
                            // кнопка чисто для визуального удобства

block script


block head
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css' rel='stylesheet')
