extends ../layout/main

block variables
    - var title = 'Contacts';
    - var description = 'Contacts';
    - var pageClass = 'index-page';

block content
    section.contacts-section
        .container
            .row


block script


block head
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css' rel='stylesheet')
