extends ../layout/main

block variables
  - var title = 'TEST PAGE';
  - var description = 'TEST PAGE';
  - var pageClass = 'index-page';

block content
  section
    .container
      +item('item title', 'item descr')
      +item('item title', 'item descr')
      +item('item title', 'item descr')
    .test-class
    img(src='/assets/img/classification.jpg')


block script
  script(type='text/javascript').
    const foo = true;
    let bar = function() {};
    if (foo) {
    bar(1 + 5)
    }
