extends ../layout/main

block variables
    - var title = 'Portfolio';
    - var description = 'Portfolio';
    - var pageClass = 'index-page';

block content
    section.pt-0.pb-1
        .container
            .row
                .col-12
                    .portfolio-container
                        h1.h1 Портфолио
                        span.portfolio-container__subtitle За более чем 10ти лет на рынке мы сделали много интересных проектов
                        div.portfolio-container__category.row
                            .col-xl-8.col-lg-6
                            .col-xl-4.col-lg-6
                                .category-block
                                    .category-block__image
                                        img(src='assets/img/category-1.png')
                                    .category-block__body
                                        span.category-block__title Мебель
                                        p.category-block__quantity 20 объектов
                                        a.category-block__link(href='#') Посмотреть
                                .category-block
                                    .category-block__image
                                        img(src='assets/img/category-2.png')
                                    .category-block__body
                                        span.category-block__title Лестницы
                                        p.category-block__quantity 25 объектов
                                        a.category-block__link(href='#') Посмотреть
                                .category-block
                                    .category-block__image
                                        img(src='assets/img/category-3.png')
                                    .category-block__body
                                        span.category-block__title Двери
                                        p.category-block__quantity 25 объектов
                                        a.category-block__link(href='#') Посмотреть
                                .category-block
                                    .category-block__image
                                        img(src='assets/img/category-4.png')
                                    .category-block__body
                                        span.category-block__title Интерьерные решения
                                        a.category-block__link(href='#') Посмотреть

                        .row.block-white-column
                            .col-10
                            .col-xl-2.pl-0
                                .block-white-column__content
    section.portfolio-list
        .container
            .row
                .col-xl-4.col-md-6.mb-3
                    +portfolioCard('portfolioCard-1.jpg', 'Кухня из дерева', 'Киев', '25 дней', '10 мая 2021')
                .col-xl-4.col-md-6.mb-3
                    +portfolioCard('portfolioCard-2.jpg', 'Кухня из дерева', 'Киев', '25 дней', '10 мая 2021')
                .col-xl-4.col-md-6.mb-3
                    +portfolioCard('portfolioCard-3.jpg', 'Кухня из дерева', 'Киев', '25 дней', '10 мая 2021')
                .col-xl-4.col-md-6.mb-3
                    +portfolioCard('portfolioCard-4.jpg', 'Кухня из дерева', 'Киев', '25 дней', '10 мая 2021')
                .col-xl-4.col-md-6.mb-3
                    +portfolioCard('portfolioCard-5.jpg', 'Кухня из дерева', 'Киев', '25 дней', '10 мая 2021')
                .col-xl-4.col-md-6.mb-3
                    +portfolioCard('portfolioCard-6.jpg', 'Кухня из дерева', 'Киев', '25 дней', '10 мая 2021')
                .col-12
                    a(href='#').btn.btn-dark.mx-auto.portfolio-list__btn Показать еще
block script


block head
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css' rel='stylesheet')
