extends ../layout/main

block variables
    - var title = 'Product';
    - var description = 'Product';
    - var pageClass = 'index-page reduced-footer';
    - var footerMin = true;

block content
    section.product-section
        .container
            .row
                .col-md-6
                    .product-image.items
                        .product-image__wrapper
                            span(data-src='assets/img/product-img.jpg')
                            .product-image__block
                                img(src='assets/img/product-img.jpg' )
                        .product-image__wrapper
                            span(data-src='assets/img/product-img.jpg')
                            .product-image__block
                                img(src='assets/img/product-img.jpg')
                        .product-image__wrapper
                            span(data-src='assets/img/product-img.jpg')
                            .product-image__block
                                img(src='assets/img/product-img.jpg')
                        .product-image__wrapper
                            span(data-src='assets/img/product-img.jpg')
                            .product-image__block
                                img(src='assets/img/product-img.jpg')

                .col-md-6
                    .product-page.product-page_wrapper
                        nav(aria-label='breadcrumb')
                            ol.breadcrumb
                                li.breadcrumb-item
                                    a(href='#') Главная
                                li.breadcrumb-item
                                    a(href='#') Лестницы
                                li.breadcrumb-item
                                    a(href='#') С поворотом
                                li.breadcrumb-item.active(aria-current='page') Дуб
                        h2.h2.product-section__title Деревянная лестница
                        .product-page__left-column
                            .product-page__row.row
                                .col-xl-10
                                    .product-page__wrapper
                                        .product-page__order
                                            span.product-page__price 150 000 грн.
                                            .product-page__order-block
                                                button.btn.btn-dark.product-page__order-block-btn Сделать заказ
                                                .product-page__order-favorites
                                                    .passion-iocn
                                        .product-page__guarantee
                                            span.guarantee-icon.badge-icon
                                            .product-page__guarantee-body
                                                span.product-page__guarantee-text-1 3 года
                                                p.product-page__guarantee-text-2 Гарантии
                            .product-page__row.row
                                .col-xl-10
                                    span.product-page__row-subTitle.mb-xl-3.mb-4 Выберите материал
                                    label.product-page__material
                                        input.card-input-element(type='radio' name='product' checked='checked')
                                        .panel.panel-default.card-input.product-page__material-card
                                            .product-page__material-card-img(style='background-image: url(assets/img/product-page-img-material-1.jpg)')
                                                .product-page__material-radio
                                                    i.product-page__material-radioIcon
                                                    span Выбрано
                                            .product-page__material-card-body
                                                span.product-page__material-card-body-title Дерево
                                                p.product-page__material-card-body-text Дерево твердых пород: бук, дуб, граб, ясень
                                    label.product-page__material
                                        input.card-input-element(type='radio' name='product')
                                        .panel.panel-default.card-input.product-page__material-card
                                            .product-page__material-card-img(style='background-image: url(assets/img/product-page-img-material-2.jpg)')
                                                .product-page__material-radio
                                                    i.product-page__material-radioIcon
                                                    span Выбрано
                                            .product-page__material-card-body
                                                span.product-page__material-card-body-title ДСП
                                                p.product-page__material-card-body-text ДСП толщиной 18 мм.
                                                p.product-page__material-card-body-num - 20 000 грн.

                                    label.product-page__material
                                        input.card-input-element(type='radio' name='product')
                                        .panel.panel-default.card-input.product-page__material-card
                                            .product-page__material-card-img(style='background-image: url(assets/img/product-page-img-material-3.jpg)')
                                                .product-page__material-radio
                                                    i.product-page__material-radioIcon
                                                    span Выбрано
                                            .product-page__material-card-body
                                                span.product-page__material-card-body-title Стекло
                                                p.product-page__material-card-body-text Бронированное стекло, разных цветов
                                                p.product-page__material-card-body-num + 20 000 грн.
                            .product-page__row.row
                                .col-xl-10
                                    span.product-page__row-subTitle.mb-3 Комплектация
                                    ul.product-page__parameters
                                        li.product-page__parameters-item
                                            span Ступени.
                                            | 5 на 1 метр высоты
                                        li.product-page__parameters-item
                                            span Поручень.
                                            | Гнутое дерево. Цилиндрической формы.
                                        li.product-page__parameters-item
                                            span Ограждение.
                                            | Металл с хромированным покрытием.
                                    p.product-page__description В целом, конечно, граница обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании своевременного выполнения сверхзадачи! Господа, перспективное планирование играет определяющее значение для поставленных обществом задач.

                            .product-page__guarantee.product-page__guarantee-mobil
                                span.guarantee-icon.badge-icon
                                .product-page__guarantee-body
                                    span.product-page__guarantee-text-1 3 года
                                    p.product-page__guarantee-text-2 Гарантии

                            .row.mb-5.mt-4.pt-3
                                .col-xl-6.mb-xl-0.mb-4
                                    .product-page__column
                                        .product-page__column-img
                                            i.interior-icon
                                        .product-page__column-body
                                            span Дизайн и визуализация
                                            p Разработаем бесплатно проект под ваш интерьер. Вы сможете заранее представить как это будет выглядеть
                                .col-xl-6
                                    .product-page__column
                                        .product-page__column-img
                                            i.feedback-icon
                                        .product-page__column-body
                                            span Бесплатно по всей Украине
                                            ul.product-page__column-list.red-squares-list
                                                li.product-page__column-item.red-squares-list__item
                                                    p Выезд мастера и дизайнера
                                                li.product-page__column-item.red-squares-list__item
                                                    p Сборка и монтаж
                                                li.product-page__column-item.red-squares-list__item
                                                    p Доставка
                            .row.information-container
                                .col-12.information-container__block
                                    .information-container__NoCreak
                                        span.information-container__title.information-container__NoCreak-title Нет скрипов при эксплуатации
                                        p.information-container__NoCreak-text Используем правильно высушенную древесину. Подгонку деталей выполняем на высокоточном оборудовании. Стыки во время сборки лестницы тщательно обрабатываем специальными составами.
                                        a.btn.btn-outline-dark.information-container__btn.information-container__NoCreak-btn(href='#') Подробнее

                                .col-12.information-container__block
                                    .information-container__triplex
                                        .information-container__triplex-body.row
                                            .col-xl-6.mb-xl-0.mb-4
                                                img.information-container__triplex-img(src='assets/img/information-container__triplex.png')
                                            .col-xl-6
                                                span.information-container__title.information-container__triplex-title Триплекс — безопасно, надежно, стильно
                                                p.information-container__triplex-text При повреждении не рассыпается на осколки. Можно изготовить в любом цвете, нанести художественную матировку, выполнить УФ-печать.
                                                a.btn.btn-outline-dark.information-container__btn(href='#') Подробнее

                                .col-12.information-container__block
                                    .information-container__blum
                                        .row
                                            .col-12
                                                span.information-container__title.information-container__blum-title Фурнитура Blum — безупречное австрийское качество
                                            .col-xl-6.mb-5.mb-xl-0
                                                .information-container__blum-block
                                                    .information-container__blum-img
                                                        img(src='assets/img/information-container__blum-1.jpg')
                                                    .information-container__blum-content
                                                        p.information-container__blum-text Петли Blum самые долговечные (до 200 000 циклов открываний-закрываний) и бесшумные (никаких раздражающих скрипов).
                                            .col-xl-6
                                                .information-container__blum-block
                                                    .information-container__blum-img
                                                        img(src='assets/img/information-container__blum-2.jpg')
                                                    .information-container__blum-content
                                                        p.information-container__blum-text Системы направляющих  выдерживают нагрузку до 60 кг (провалившиеся выдвижные ящики - это не про Blum)
                                            .col-12
                                                a.btn.btn-outline-dark.information-container__btn.information-container__blum-btn(href='#') Подробнее


                                .col-12.information-container__block
                                    .information-container__handrails
                                        .row
                                            .col-xl-7
                                                span.information-container__title.information-container__handrails-title Поручни для лестницы
                                                p.information-container__handrails-subTitle Подбираем поручень под дизайн интерьера.
                                                .row
                                                    .col-sm-6
                                                        ul.information-container__handrails-list
                                                            li.information-container__handrails-item
                                                                p Богатый выбор форм
                                                            li.information-container__handrails-item
                                                                p круглая
                                                            li.information-container__handrails-item
                                                                p квадратная
                                                            li.information-container__handrails-item
                                                                p П-образная
                                                            li.information-container__handrails-item
                                                                p фигурная, изогнутая
                                                    .col-sm-6
                                                        ul.information-container__handrails-list
                                                            li.information-container__handrails-item
                                                                p Материалов
                                                            li.information-container__handrails-item
                                                                p дерево
                                                            li.information-container__handrails-item
                                                                p ПВХ
                                                            li.information-container__handrails-item
                                                                p нержавеющая сталь
                                                    .col-12
                                                        p.information-container__handrails-text Возможна установка поручня на стеклянное <br> ограждение.
                                                        a.btn.btn-outline-dark.information-container__btn.information-container__handrails-btn(href='#') Подробнее


                                .col-12.information-container__block
                                    .information-container__backlight
                                        .row
                                            .col-xl-6
                                                span.information-container__title.information-container__backlight-title Подсветка
                                                p.information-container__backlight-text Светодиодные ленты высокого качества (не перегорят через неделю).
                                                p.information-container__backlight-text Монтаж выполняют опытные специалисты (ваша страховка от короткого замыкания и пожара вследствие непрофессионального монтажа).
                                                p.information-container__backlight-text Вы можете выбрать: способ включения (сенсорный/ручной), цвет (теплый/холодный), интенсивность освещения, место установки (любое без ограничений).

                                            .col-xl-6
                                                .row.mt-5
                                                    .col-6
                                                        .information-container__backlight-block
                                                            .information-container__backlight-block-img
                                                                img(src='assets/img/customization-colors.svg')
                                                            span.information-container__backlight-block-title Настройка <br> цвета
                                                    .col-6
                                                        .information-container__backlight-block
                                                            .information-container__backlight-block-img
                                                                img(src='assets/img/motion-sensor.svg')
                                                            span.information-container__backlight-block-title Датчики <br> движения
                                                    .col-6
                                                        .information-container__backlight-block
                                                            .information-container__backlight-block-img
                                                                img(src='assets/img/led-icon.svg')
                                                            span.information-container__backlight-block-title настройка <br> яркости
                                                    .col-6
                                                        .information-container__backlight-block
                                                            .information-container__backlight-block-img
                                                                img(src='assets/img/diploma-iocn.svg')
                                                            span.information-container__backlight-block-title качество и <br> долговечность

                        .product-page-social
                            a(href='#').product-page-social__item
                                span.pinterest-icon-product
                            a(href='#').product-page-social__item
                                span.inst-icon-product
                            a(href='#').product-page-social__item
                                span.facebook-icon-product
                            a(href='#').product-page-social__item
                                span.twitter-icon-product






block script


block head
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css' rel='stylesheet')
