extends ../layout/main

block variables
    - var title = 'article-page-2';
    - var description = '';
    - var pageClass = 'index-page';

block content
    section.text-page
        .container
            .row
                .col-xl-2.col-lg-1.col-md-12
                .col-xl-8.col-lg-10.col-md-12
                    .text-page__background-wrapper
                        .text-page__background-head(style='background-image: url("assets/img/text-page__img1.jpg")')
                .col-xl-2.col-lg-1.col-md-12


                .col-xl-3.col-lg-2.col-md-1
                .col-xl-6.col-lg-8.col-md-10
                    article.text-page__wrapper
                        span.text-page__title.mb-4 Нет скрипов при эксплуатации
                        p.text-page__text Появление раздражающих скрипов часто отпугивает тех, кто задумался об установке лестницы из натурального дерева в двухуровневой квартире или частном доме.
                        p.text-page__text.mb-5 Заказав изготовление деревянной лестницы у фабрики «Мебельер», вы страхуете себя от этой проблемы. Мы расскажем, почему наши лестницы из дерева не скрипят.

                        span.text-page__subTitle.mb-4.pb-1 Подгонка деталей на высокоточном оборудовании
                        p.text-page__text Обрабатываем дерево на станках с ЧПУ, а не лобзиком и рубанком. Исключаются погрешности до 1 миллиметра.

                        .row
                            .col-md-6.mb-md-0.mb-3
                                img.w-100(src='assets/img/text-page-img-10.jpg')
                            .col-md-6
                                img.w-100(src='assets/img/text-page-img-11.jpg')
                            .col-12.mt-4
                                p.font-italic.mb-4.pb-3 Мы знаем, что плохо подогнанные детали и ненужные стыки между частями лестницы очень быстро дают знать о себе скрипом.

                        span.text-page__subTitle.mb-3.pb-1 Сборка лестниц только опытными столярами

                        p.text-page__text Установка лестницы выполняется опытными специалистами. Никаких перетянутых деталей и люфта.
                        p.text-page__text.mb-4.pb-3 Если сильно перетянуть детали, они деформируются. Создается напряжение. Как следствие, конструкция начинает со временем скрипеть.

                        span.text-page__subTitle.mb-3.pb-1 Правильно просушенная древесина

                        p.text-page__text Изготавливаем лестницы из древесины с влажностью не более 10%, прошедшей 2 вида сушки:
                        .row
                            .col-lg-6
                                .text-page__block
                                    .text-page__block-img
                                        img.w-100(src='assets/img/production-img-4.jpg')
                                    .text-page__block-body
                                        span.text-page__block-num 1
                                        .text-page__block-text
                                            p <b>Естественную</b>. Древесина находится на улице под навесом от 6 до 9 месяцев. Содержание влаги в древесине снижается до 16%.

                            .col-lg-6
                                .text-page__block
                                    .text-page__block-img
                                        img.w-100(src='assets/img/production-img-5.jpg')
                                    .text-page__block-body
                                        span.text-page__block-num 2
                                        .text-page__block-text
                                            p <b>Камерную</b>. В автоматических сушильных камерах древесина высушивается в течение 2-3 месяцев. Влажность древесины уменьшается до 8-10%.


                        p.text-page__text.mb-4.pb-3 Если использовать сырую древесину с показателем влажности более 20%, то уже через 6-12 месяцев она деформируется. Нарушаются стыки, образуются зазоры. Под нагрузкой, во время подъема человека по лестнице, детали трутся друг о друга, вызывая неприятный скрип.

                        span.text-page__subTitle.mb-4.pb-3 Защита деталей от естественного износа
                        p.text-page__text Мы тщательно обрабатываем защитными составами детали на стадии заготовки и места стыков во время сборки лестницы. Это в разы замедляет процесс естественной деформации стыкующихся деталей.

                        .text-page__explanations
                            .text-page__explanations-block
                                p.text-page__text Итак, теоретически любая деревянная лестница может рано или поздно начать скрипеть. Но если осуществлять подгонку деталей на высокоточном оборудовании, использовать правильно высушенную древесину и тщательно обрабатывать материал защитными составами, то первый скрип появится только спустя много лет и его можно будет легко устранить.
                                p.text-page__text Закажите изготовление деревянной лестницы у фабрики «Мебельер» и застрахуйте себя от появления раздражающих скрипов!
                            .text-page__explanations-text
                                p.font-italic Если экономить на защитных составах, то элементы лестничной конструкции, которые ежедневно подвергаются нагрузкам, очень скоро начнут скрипеть в результате естественного износа.


                .col-xl-3.col-lg-2.col-md-1
    include ../includes/modules/text-page-bottom-section



block script


block head
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css' rel='stylesheet')
