extends ../layout/main

block variables
    - var title = 'article-page-3';
    - var description = '';
    - var pageClass = 'index-page';

block content
    section.text-page
        .container
            .row
                .col-xl-2.col-lg-1.col-md-12
                .col-xl-8.col-lg-10.col-md-12
                    .text-page__background-wrapper
                        .text-page__background-head(style='background-image: url("assets/img/text-page__img3.jpg")')
                .col-xl-2.col-lg-1.col-md-12


                .col-xl-3.col-lg-2.col-md-1
                .col-xl-6.col-lg-8.col-md-10
                    article.text-page__wrapper
                        span.text-page__title.mb-4 Фурнитура Blum
                        p.text-page__text.mb-5 В безупречной мебели должна быть безупречная фурнитура. Поэтому мы используем только австрийскую фурнитуру Blum — эталон оригинального дизайна, функциональности, комфорта и надежности.

                        span.text-page__subTitle.mb-4.pb-1 Раздражающие скрипы? Это не про петли Blum!
                        p.text-page__text.mb-4.pb-2 <b>Система амортизации BLUMOTION</b> встроена в чашку петли и обеспечивает точно выверенный ход, мягкое и бесшумное закрывание дверей. Система BLUMOTION адаптируется к весу и скорости закрывания двери.

                        .text-page__colored-block.text-page__colored-block-one.mb-5
                            .text-page__colored-block-img
                                img.w-100.h-100(src='assets/img/loops-img-text-page.jpg')
                            .text-page__colored-block-body
                                p.text-page__text.font-weight-bold.mb-3 Петли Blum работают без поломок до 200 000 циклов открываний-закрываний.
                                p.text-page__text.mb-4 Петли других производителей начинают скрипеть уже после 20 000 циклов, а после 40 тысяч — ломаются.

                                p.text-page__text.text-uppercase.font-weight-bold.mb-2.pb-1 Давайте посчитаем.
                                p.text-page__text Если открывать дверцу шкафа или кухни в среднем по 20 раз в день, то петли Блюм прослужат более 25 лет.
                                p.text-page__text Если по 40 раз в день, то более 13 лет. Как вам? Впечатляет?

                        span.text-page__subTitle.mb-4.pb-1 Забудьте про громкие хлопки дверцы!

                        p.text-page__text.mb-3.pb-1 <b>В конструкции петель Blum CLIP top</b> отсутствует поршень, а система амортизации (доводчик) встроена в чашку петли. При любом угле (от 5° до 45°) открытия дверцы она закроется плавно и бесшумно.
                        p.text-page__text.mb-4.pb-2 У петель других производителей (например, Boyard, FGV или GTV) при угле открытия фасада менее 20°, поршень просто не успевает вытянуться и доводчик не срабатывает. В результате, дверца закрывается с хлопком.
                        .text-page__colored-block.text-page__colored-block-two.mb-5
                            img.w-100(src='assets/img/family-ing-text-page.jpg')
                            .text-page__colored-block-body
                                p.text-page__text Знакома ли вам такая ситуация: утром, когда другие члены семьи еще спят, вы торопитесь на работу и нечаянно громко хлопаете дверцей кухонного шкафа?
                                p.text-page__text Или такая. Вы хотите закрыть дверцу шкафа, но руки заняты. Подталкиваете ее аккуратно ногой, а она громко стучит при закрывании.
                                p.text-page__text Такие истории не про петли Blum CLIP top!

                        span.text-page__subTitle.mb-4 Идеальная подгонка компонентов. <br> Никаких люфтов!

                        p.text-page__text <b>Втулки, шарниры и корпусы петель Блюм идеально подогнаны и не люфтят.</b> После установки они многие годы стабильно держат выставленные сборщиком первоначальные зазоры и наклон.
                        p.text-page__text.mb-4.pb-3 У других производителей даже новые петли имеют микролюфты, например в основании поршня доводчика и в шарнирах. Фасад уже через 1-2 года “проседает”. Приходится регулировать петли или полностью их менять.

                        span.text-page__subTitle.mb-4.pb-2 Легко и бесшумно. Как “по маслу”.
                        .text-page__media
                            .text-page__media-img
                                i.silent-icon
                            .text-page__media-body
                                p.text-page__text.mb-0 <b>Standart, Movento, Tandem</b> — все системы направляющих работают плавно, мягко, бесшумно. Благодаря износостойким пластиковым роликам даже нагруженные ящики скользят, как невесомые.

                        .text-page__colored-block.text-page__colored-block-three.mb-4
                            p.text-page__text.font-weight-bold Интересный факт!
                            p.text-page__text Большинство систем направляющих для выдвижных кухонных ящиков крепится сбоку. Со временем на них скапливается много крошек, грязь, пыль. Они начинают хуже ездить. Появляется неприятный шум.
                            p.text-page__text Система скрытых направляющих Blum Tandem не имеет этого недостатка!

                        span.text-page__subTitle.mb-3.pb-1.mt-2 Храните в ящиках до 60 кг.
                        img.w-100.mb-4(src='assets/img/box-img-text-page.jpg')
                        p.text-page__text <b>Системы направляющих Tandem и Movento</b> выдерживают динамическую нагрузку до 50 и 60 кг соответственно. Даже если на них будут облокачиваться дети — не проблема. Минимальные показатели провисания позволяют устанавливать ящики непосредственно у пола.
                        p.text-page__text.mb-4.pb-1 Обычные роликовые направляющие выдерживают до 20 кг. Они часто гнутся и ломаются, из-за чего выдвижные ящики проваливаются. Такие неприятности “убивают” немало нервов.

                        .text-page__colored-block.text-page__colored-block-fourth.mb-4
                            .text-page__colored-block-num
                                span 10
                                p лет
                            .text-page__colored-block-body
                                p.text-page__text Системы направляющих Blum имеют сертификат LGA на 100 тыс. открываний/закрываний. Что это значит на практике? Они прослужат без нареканий более 10 лет даже при интенсивной эксплуатации.
                        p.text-page__text.font-weight-bold.mt-2.mb-5 Теперь вы знаете “в лицо” качество и комфорт, за которые платите, заказывая изготовление мебели в фабрике «Мебельер»

                .col-xl-3.col-lg-2.col-md-1
    include ../includes/modules/text-page-bottom-section



block script


block head
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css' rel='stylesheet')
