// px to rem
@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1rem;
}

@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

@mixin placeholder($color) {
  ::-webkit-input-placeholder {color: $color}
  :-moz-placeholder           {color: $color}
  ::-moz-placeholder          {color: $color}
  :-ms-input-placeholder      {color: $color}
}

@mixin boxShadow($forX, $forY, $saturation, $color, $opacity) {
  box-shadow: $forX $forY $saturation rgba($color, $opacity);
}


@mixin smallCard {
  .card-product__info-description,
  .product-description {
    display: none;
  }
}

@mixin middleCard {
  .card-product__info-description {
    display: none;
  }

  .card-product__info {
    max-width: 262px;
    padding: 18px 24px 21px;
  }

  .card-product__info-text {
    font-size: rem(24);
    line-height: rem(29);
    color: $mainFontColor;
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
    margin-bottom: 9px;
  }

  .card-product__info-price {
    font-size: rem(32);
    line-height: rem(39);
  }

  &.card-product_bottom-left {
    .card-product__info {
      bottom: 24px;
      left: 24px;
    }
  }

  &.card-product_top-left {
    .card-product__info {
      top: 24px;
      left: 24px;
    }
  }

  @media (max-width: 767.98px) {
    & {
      min-height: 625px;
    }

    .card-product__info-text {
      font-size: rem(14);
      line-height: rem(17);
    }

    .card-product__info-price {
      font-size: rem(18);
      line-height: rem(22);
    }

    .card-product__info-list li p {
      font-size: rem(12);
      line-height: rem(15);
    }

    &.card-product_bottom-left {
      .card-product__info {
        bottom: 16px;
        left: 16px;
        top: auto;
      }
    }

    &.card-product_top-left {
      .card-product__info {
        bottom: 16px;
        left: 16px;
        top: auto;
      }
    }
  }
}

@mixin bigCard {
  .card-product__info-list {
    display: none;
  }

  .card-product__info {
    max-width: 486px;
    padding: 25px 27px 31px;
  }

  .card-product__info-text,
  .card-product__info-price {
    font-size: rem(32);
    line-height: rem(39);
  }

  &.card-product_bottom-left {
    .card-product__info {
      bottom: 35px;
      left: 25px;
    }
  }

  &.card-product_top-left {
    .card-product__info {
      top: 35px;
      left: 25px;
    }
  }

  @media (max-width: 767.98px) {
    & {
      min-height: 625px;
    }

    &.card-product_bottom-left {
      .card-product__info {
        bottom: 16px;
        left: 16px;
      }
    }

    &.card-product_top-left {
      .card-product__info {
        top: auto;
        left: 16px;
        bottom: 16px;
      }
    }

    .card-product__info-text {
      font-size: rem(14);
      line-height: rem(17);
    }

    .card-product__info-price {
      font-size: rem(18);
      line-height: rem(22);
    }

    .card-product__info-description {
      font-size: rem(12);
      line-height: rem(18);
    }
  }
}

