// footer style

footer {
  margin-top: auto;
  background: $mainFontColor;
  padding-top: 53px;
  padding-bottom: 29px;

  a:hover {
    color: $fonts-color-7;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-weight: bold;
  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 16px;
  color: $fonts-color-7;
}

.footer__numLink {
  font-weight: 800;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $fonts-color-7;
  margin-bottom: 6px;
}

.footer__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  color: $fonts-color-7;
  text-transform: initial;
}

.footer__list {
  li {
    margin-bottom: 11px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.footer__production {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.footer__list-social {
  display: flex;
  align-items: center;
  margin-left: -7px;
  margin-right: -7px;

  li {
    margin-left: 7px;
    margin-right: 7px;
  }
}

.footer__logo {
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $fonts-color-8;
  margin-top: 57px;
}

.reduced-footer {
  //.footer {
  //  max-width: calc(50% + 8px);
  //  margin-left: auto;
  //}
}

@media (max-width: 1199.98px) {
  .footer__logo {
    margin-top: 80px;
  }

  .footer__production {
    margin-top: 49px;
  }
}

@media (max-width: 991.98px) {
  .footer__list-social {
    margin-top: 8px;
  }
}

@media (max-width: 767.97px) {
  .footer__production {
    margin-top: 42px;
    justify-content: center;
  }

  .footer__logo {
    margin-top: 56px;
    padding-top: 38px;
    text-align: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #5D4F44;
      width: 200%;
      height: 1px;
    }
  }

  .footer {
    padding-bottom: 39px;
    overflow: hidden;
  }
}

