.header {
  background: #ffffff;
  @include boxShadow(0, 1px, 5px, black, .15);
  position: relative;
  z-index: 3;

  .navbar-toggler {
    background: #F7F2EF;
    border: none;
  }
}

.header__nav {
  padding: 0;

  .navbar-nav {
    li {
      &:last-of-type {
        margin-right: 0;
      }
    }

    .dropdown-menu__list li {
      display: block;
    }
  }

  .dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 0;
  }

  .dropdown-menu__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .dropdown-menu__goods {
    display: flex;
    flex-direction: column;
  }

  .dropdown-menu__goods-title {
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(17);
    text-transform: uppercase;
    color: $fonts-color-6;
    margin-bottom: 15px;
  }

  .dropdown-menu__title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(17);
    color: #000000;
  }

  .navbar-brand {
    margin-right: 76px;
    font-weight: 800;
    font-size: rem(20);
    line-height: rem(24);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #201F1D;
  }

  .nav-item {
    margin-right: 24px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    position: static;

    &.show,
    &:hover {
      background: rgba(255, 87, 51, .1);
    }

    .dropdown-menu {
      width: 100%;
      left: 0;
      right: 0;
      padding: 29px 39px 39px 35px;
    }
  }

  .nav-link {
    font-size: rem(14);
    line-height: rem(17);
    color: $mainFontColor;
    position: relative;
  }

  .nav-item.active .nav-link:before {
    content: '';
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background: $secondary;
  }
}

.header__nav-phone {
  font-weight: 800;
  font-size: rem(14);
  line-height: rem(17);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $fonts-color-2;
  margin-left: auto;
  opacity: 1;
  transition: 0.2s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  min-width: 276px;

  a {
    color: $fonts-color-2;
    font-size: rem(14);
    line-height: rem(17);
    margin-left: 13px;

    &:hover {
      color: $fonts-color-2;
    }
  }

  .dropdown-menu {
    a {
      font-size: 14px;
      line-height: 17px;
      color: #201F1D;
      font-weight: normal;
      text-transform: initial;
      letter-spacing: initial;
      display: flex;
      align-items: center;
      margin-left: 0;
      padding-right: 22px;
      padding-left: 12px;
    }
  }

  .dropdown-toggle {
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    color: #201F1D;
    min-width: 100px;

    &:after {
      position: absolute;
      right: 0;
      z-index: 1001;
    }
  }

  .dropdown-menu {
    &.show {
      top: -4px;
      background: #FFFFFF;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      max-width: 119px;
      width: 100%;
      min-width: auto;
      left: -10px;
    }

    li {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.header__nav-phone-icon {
  margin-right: 6px;
}

.header__favorites {
  width: 20px;
  height: 20px;
  min-width: 20px;
  background: url("/assets/img/passion-icon.svg") no-repeat center;
  background-size: 100% auto;
  display: block;
  margin-left: 12px;
  box-shadow: none;
  border: none;
  padding: 0;

  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
    border: none;
  }
}

.header__shopCard {
  padding: 0;
  width: 25px;
  min-width: 25px;
  height: 22px;
  display: block;
  position: relative;
  background: url("/assets/img/Union.svg") no-repeat center;
  background-size: 100% auto;
  margin-left: 16px;
  margin-right: 15px;
  box-shadow: none;
  border: none;
  outline: none;
}

.header__shopCard-counter {
  position: absolute;
  width: 20px;
  height: 20px;
  background: $secondary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $fonts-color-7;
  top: -12px;
  right: -15px;
  font-size: 0.75rem;
  line-height: 15px;
}

.navbar.search-open {
  .header__nav-phone {
    width: 0;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
    transition: 0.2s;
  }
}

.phone-icon-mob {
  display: none;
}

.menu-list-mob {
  display: none;
}

@media (min-width: 1600px) {
  .header__nav {
    .navbar-nav {
      li {
        display: none;
      }

      li:nth-last-child(4) {
        display: none !important;
      }

      li:nth-last-child(n + 3) {
        display: flex;
      }

      li:nth-last-child(n + 2) {
        display: flex;
      }

      li:nth-last-child(n + 1) {
        display: flex;
      }
    }
  }
}

@media (min-width: 1px) {
  .header__nav {
    .navbar-nav {
      li {
        display: none;
      }

      li:nth-last-child(n + 4) {
        display: flex;
      }
    }
  }
}

@media (max-width: 1420px) {
  .form-search {
    margin-left: auto;
  }

  .header__nav-phone {
    margin-right: 20px;
  }
}

@media (max-width: 1350px) {
  .header__nav .navbar-brand {
    margin-right: 20px;
  }

  .header__nav .nav-item {
    margin-right: 15px;
  }
}

@media (max-width: 1199.98px) {
  .header__nav {
    min-height: 80px;
  }

  .header__nav-phone {
    margin-left: 74px;
  }

  .header {
    .container-fluid {
      padding-left: 0;
    }

    .navbar-toggler {
      height: 80px;
      padding-left: 18px;
      padding-right: 18px;
      margin-right: 15px;
    }

    .card-header {
      background: #ffffff;

      button {
        width: 100%;
        text-align: left;
      }
    }
  }

  .header__nav .collapse.navbar-collapse ul {
    display: none;
  }

  .header__nav .collapse.navbar-collapse .accordion ul {
    display: block;
  }

  .menu-list-mob {
    display: block;

    .accordion {
      display: flex;
      flex-direction: column;
    }
  }

  .navbar-collapse {
    position: absolute;
    top: 80px;
    background: #fff;
    width: calc(100% + 32px);
    left: calc(-100% - 50px);
    transition: 0.2s;
    align-items: flex-start;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding-left: 16px;
    padding-right: 16px;
    min-height: 100vh;

    &:not(.show) {
      display: flex;
      flex-direction: column;
      opacity: 0;
      z-index: -1;
    }

    &.show {
      left: -16px;
      transition: 0.2s;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.97px) {
  .navbar.search-open {
    .header__nav-phone {
      width: auto;
      white-space: nowrap;
      opacity: 1;
      overflow: hidden;
      transition: 0.2s;
    }
  }
}

@media (max-width: 991.96px) {
  .header__favorites {
    margin-left: 0;
  }

  .header__nav .nav-item {
    justify-content: flex-start;
    margin-right: 0 !important;
    height: auto;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }

  .header__nav .nav-item.active .nav-link:before {
    display: none;
  }

  .header__nav .nav-link {
    width: 100%;
  }

  .header__nav .dropdown-menu__goods {
    margin-top: 50px;
  }

  .header__nav {
    .navbar-nav {
      padding-top: 37px;
    }
  }

  .header__nav .nav-item.show {
    padding-bottom: 20px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #5D4F44;
  }

  .form-search-mobil {
    width: auto;
    right: 0;
    margin-right: -14px;
  }
}

@media (max-width: 767.95px) {
  .phone-icon-mob {
    display: block;
    margin-left: auto;
    background: url("/assets/img/phone-icon.svg") no-repeat center;
    background-size: 100% auto;
    width: 15px;
    height: 15px;
  }

  .header__nav-phone {
    display: none;
  }

  .header__favorites {
    width: 16px;
    height: 16px;
    min-width: 16px;
  }

  .header__shopCard {
    width: 17px;
    height: 17px;
    min-width: 17px;
  }

  .form-search {
    margin-left: 28px;
  }

  .header__shopCard-counter {
    width: 16px;
    height: 16px;
    font-size: 10px;
  }

  .header__nav .navbar-brand {
    font-size: 16px;
  }

  .header .navbar-toggler {
    width: 40px;
    height: 48px;
    padding: 0;
    position: relative;
    top: -2px;
    border-radius: 0;
    margin-right: 12px;
  }

  .header__nav {
    min-height: 48px;
    height: 48px;
  }

  .form-inline .form-control.form-search__input {
    display: none;
  }

  .header__favorites {
    margin-left: 28px;
  }
}

@media (max-width: 345px)  {
  .form-search {
    margin-left: 10px;
  }

  .header__favorites {
    margin-left: 10px;
  }

  .header__shopCard {
    margin-left: 10px;
  }
}
