.header {
  background: #ffffff;
  @include boxShadow(0, 1px, 5px, black, .15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 101;
  transition: .4s;

  .navbar-toggler {
    background: #F7F2EF;
    border: none;
  }

  &.out {
    transition: 1s;
    top: -100%;
  }
}

.header__nav {
  padding: 0;

  .navbar-nav {
    li {
      &:last-of-type {
        margin-right: 0;
      }
    }

    .dropdown-menu__list li {
      display: block;
    }
  }

  .dropdown-menu {
    background: #FFFFFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 0;
    min-width: auto;
    top: calc(100% - 2px);
  }

  .dropdown-menu__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .dropdown-menu__goods {
    display: flex;
    flex-direction: column;
  }

  .dropdown-menu__goods-title {
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(17);
    text-transform: uppercase;
    color: $fonts-color-6;
    margin-bottom: 15px;
  }

  .dropdown-menu__title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(17);
    color: #000000;
  }

  .navbar-brand {
    margin-right: 76px;
    font-weight: 800;
    font-size: rem(20);
    line-height: rem(24);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #201F1D;
  }

  .nav-item {
    margin-right: 24px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    position: static;

    &.show,
    &:hover {
      background: rgba(255, 87, 51, .1);
    }

    .dropdown-menu {
      width: 100%;
      left: 0;
      right: 0;
      padding: 29px 39px 39px 35px;
    }
  }

  .nav-link {
    font-size: rem(14);
    line-height: rem(17);
    color: $mainFontColor;
    position: relative;
  }

  .nav-item.active .nav-link:before {
    content: '';
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background: $secondary;
  }
}

.header__nav-phone {
  font-weight: 800;
  font-size: rem(14);
  line-height: rem(17);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $fonts-color-2;
  margin-left: auto;
  opacity: 1;
  transition: 0.2s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  min-width: 276px;

  a {
    color: $fonts-color-2;
    font-size: rem(14);
    line-height: rem(17);
    margin-left: 13px;

    &:hover {
      color: $fonts-color-2;
    }
  }

  .dropdown-menu {
    a {
      font-size: 14px;
      line-height: 17px;
      color: #201F1D;
      font-weight: normal;
      text-transform: initial;
      letter-spacing: initial;
      display: flex;
      align-items: center;
      margin-left: 0;
      padding-right: 22px;
      padding-left: 12px;
    }
  }

  .dropdown-toggle {
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    color: #201F1D;
    min-width: 122px;

    &:after {
      position: absolute;
      right: 0;
      z-index: 1001;
    }
  }

  .dropdown-menu {
    &.show {
      top: -3px;
      background: #FFFFFF;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
      border-radius: 12px;
      max-width: 128px;
      width: 100%;
      min-width: auto;
      left: 0;
    }

    li {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.language-list {
  button {
    width: 46px;
    height: 46px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    font-size: rem(14);
    line-height: rem(17);
    color: #201F1D;
    padding: 0;

    &:after {
      position: relative;
      z-index: 1001;
    }

    &:hover,
    &:active {
      box-shadow: none;
      outline: none;
    }
  }

  .dropdown-menu {
    width: 46px;
    border-radius: 22px;
    top: -2px;
    border: 1px solid #D9D9D9;
    box-shadow: none;
    outline: none;
    padding-top: 12px;
    
    li {
      margin-bottom: 14px;
      padding-left: 6px;
      padding-top: 2px;

      a {
        font-size: rem(14);
        line-height: rem(17);
        color: #201F1D;
        display: block;
        width: 100%;
        position: relative;
        z-index: 1;
      }
    }
  }
}

.header__nav-phone-icon {
  margin-right: 6px;
}

.header__counter {
  position: absolute;
  width: 20px;
  height: 20px;
  background: $secondary;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $fonts-color-7;
  top: -12px;
  right: -15px;
  font-size: 0.75rem;
  line-height: 15px;
}

.header__favorites {
  width: 20px;
  height: 20px;
  min-width: 20px;
  background: url("../../../assets/img/passion-icon.svg") no-repeat center;
  background-size: 100% auto;
  display: block;
  margin-left: 12px;
  box-shadow: none;
  border: none;
  padding: 0;
  position: relative;

  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
    border: none;
  }
}

.header__shopCard {
  padding: 0;
  width: 25px;
  min-width: 25px;
  height: 22px;
  display: block;
  position: relative;
  background: url("../../../assets/img/Union.svg") no-repeat center;
  background-size: 100% auto;
  margin-left: 16px;
  margin-right: 15px;
  box-shadow: none;
  border: none;
  outline: none;
}

.navbar.search-open {
  .header__nav-phone {
    width: 0;
    white-space: nowrap;
    opacity: 0;
    overflow: hidden;
    transition: 0.2s;
    min-width: 0;
  }
}

.phone-icon-mob {
  display: none;
}

.menu-list-mob {
  display: none;

  button {
    position: relative;

    &.collapsed {
      &:before {
        transform: translateY(-50%) rotate(180deg);
        transition: 0.2s;
      }
    }

    &:before {
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 8px;
      background: url("../../../assets/img/check-svg-menu.svg") no-repeat center;
      background-size: 100% auto;
      transition: 0.2s;
    }
  }
}

.phone-mobil-container {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 48px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: auto;
  left: 0;
  right: 0;
  margin-right: -8px;
  padding: 34px 24px 39px 24px;
  z-index: 3;

  a {
    display: flex;
    align-items: center;
    margin-bottom: 17px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }

  button {
    width: 16px;
    height: 16px;
    background: url(../../../assets/img/input-close.svg) no-repeat 50%;
    background-size: 100% auto;
    position: absolute;
    top: 18px;
    right: 16px;
    box-shadow: none;
    border: none;
    outline: none;
  }

  span {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5D4F44;
    display: block;
    margin-left: 21px;
  }

  p {
    margin-bottom: 0;
    width: 100px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: #201F1D;
  }

  i {
    margin-right: 8px;
  }
}

.phone-mobil-active {
  .phone-mobil-container_bg {
    display: block;
  }

  .phone-mobil-container {
    display: flex;
  }
}

.phone-mobil-container_bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}

@media (min-width: 1600px) {
  .header__nav {
    .navbar-nav {
      .nav-item {
        display: none;
      }

      .nav-item:nth-last-child(4) {
        display: none !important;
      }

      .nav-item:nth-last-child(n + 3) {
        display: flex;
      }

      .nav-item:nth-last-child(n + 2) {
        display: flex;
      }

      .nav-item:nth-last-child(n + 1) {
        display: flex;
      }
    }
  }
}

@media (min-width: 1px) {
  .header__nav {
    .navbar-nav {
      li {
        display: none;
      }

      li:nth-last-child(n + 4) {
        display: flex;
      }
    }
  }
}

@media (max-width: 1420px) {
  .header__nav-phone {
    margin-right: 20px;
  }
}

@media (max-width: 1350px) {
  .header__nav .navbar-brand {
    margin-right: 20px;
  }

  .header__nav .nav-item {
    margin-right: 15px;
  }
}

@media (max-width: 1199.98px) {
  .header__nav .navbar-brand {
    padding-bottom: 0;
  }

  .header__nav {
    min-height: 80px;

    .navbar-toggler-icon {
      background: #FF5733;
      width: 29px;
      height: 2px;
      border-radius: 10px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: -9px;
        left: 0;
        background: #FF5733;
        width: 29px;
        height: 2px;
        border-radius: 10px;
        transition: 0.3s;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: -9px;
        left: 0;
        background: #FF5733;
        width: 29px;
        height: 2px;
        border-radius: 10px;
        transition: 0.3s;
      }
    }

    .navbar-toggler:not(.collapsed) {
      .navbar-toggler-icon {
        background: initial;

        &:before {
          transform: rotate(45deg) translate(6px, 6px);
        }

        &:after {
          transform: rotate(-45deg) translate(7px,-8px);
        }
      }
    }

    .accordion {
      padding-bottom: 100px;
    }

    .accordion > * {
      border-bottom: 1px solid #CDCCCC;

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }

  .header {
    .container-fluid {
      padding-left: 0;
    }

    .navbar-toggler {
      height: 80px;
      padding-left: 18px;
      padding-right: 18px;
      margin-right: 15px;
    }

    .card-header {
      background: #ffffff;
      padding: 17px 0;
      margin-bottom: 0 !important;

      button {
        width: 100%;
        text-align: left;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #201F1D;
        padding-left: 0;
        padding-right: 0;
        box-shadow: none;
        outline: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .header__nav .collapse.navbar-collapse ul {
    display: none;
  }

  .header__nav .collapse.navbar-collapse .accordion ul {
    display: block;
  }

  .menu-list-mob {
    display: block;
    margin-left: 24px;
    margin-right: 24px;

    .accordion {
      display: flex;
      flex-direction: column;
    }

    .card {
      border: 0;

      .collapse.show {
        position: relative;
        background: #ffffff;
        top: -2px;
        border-bottom: 1px solid #CDCCCC;
      }
    }

    .card-body {
      padding: 0;
      padding-bottom: 23px;

      li {
        padding-bottom: 19px;

        a {
          font-size: 14px;
          line-height: 17px;
          color: #201F1D;

          &:hover {
            text-decoration: none;
          }
        }

        &:last-of-type {
          padding-bottom: 0;
        }
      }
    }
  }

  .navbar-collapse {
    position: absolute;
    top: 80px;
    background: #fff;
    width: calc(100% + 50px);
    left: calc(-100% - 50px);
    transition: 0.2s;
    align-items: flex-start;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding-left: 16px;
    padding-right: 16px;
    min-height: 100vh;
    bottom: 0;
    overflow: scroll;

    &:not(.show) {
      display: flex;
      flex-direction: column;
      opacity: 0;
      z-index: -1;
    }

    &.show {
      left: -16px;
      transition: 0.2s;
    }
  }

  .menu-list-mob__link {
    padding-top: 23px;
    padding-bottom: 23px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #201F1D;

    &:hover {
      text-decoration: none;
      color: #201F1D;
    }
  }

  .header__nav-phone {
    margin-left: 20px;
  }

  .language-list {
    margin-left: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.97px) {
  .navbar.search-open {
    .header__nav-phone {
      width: auto;
      white-space: nowrap;
      opacity: 1;
      overflow: hidden;
      transition: 0.2s;
    }
  }
}

@media (max-width: 991.96px) {
  .header__favorites {
    margin-left: 0;
  }

  .header__nav .nav-item {
    justify-content: flex-start;
    margin-right: 0 !important;
    height: auto;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }

  .header__nav .nav-item.active .nav-link:before {
    display: none;
  }

  .header__nav .nav-link {
    width: 100%;
  }

  .header__nav .dropdown-menu__goods {
    margin-top: 50px;
  }

  .header__nav {
    .navbar-nav {
      padding-top: 37px;
    }
  }

  .header__nav .nav-item.show {
    padding-bottom: 20px;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #5D4F44;
  }

  .form-search-mobil {
    width: auto;
    right: 0;
    margin-right: -14px;
  }
}

@media (max-width: 767.95px) {

  .header__favorites {
    width: 16px;
    height: 16px;
    min-width: 16px;
  }

  .header__shopCard {
    width: 17px;
    height: 17px;
    min-width: 17px;
  }

  .form-search {
    margin-left: 21px;
  }

  .header__counter {
    width: 16px;
    height: 16px;
    font-size: 10px;
  }

  .header__nav .navbar-brand {
    font-size: 16px;
  }

  .header__nav {
    .navbar-toggler-icon {
      width: 18px;

      &:before {
        content: '';
        position: absolute;
        top: -7px;
        left: 0;
        background: #FF5733;
        width: 18px;
        height: 2px;
        border-radius: 10px;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: -7px;
        left: 0;
        background: #FF5733;
        width: 18px;
        height: 2px;
        border-radius: 10px;
      }
    }
  }

  .header__nav .navbar-toggler:not(.collapsed) .navbar-toggler-icon:after {
    transform: rotate(-45deg) translate(4px,-4px);
  }

  .header .navbar-toggler {
    width: 40px;
    height: 48px;
    padding: 0;
    position: relative;
    border-radius: 0;
    margin-right: 12px;
  }

  .header__nav {
    min-height: 48px;
    height: 48px;
  }

  .form-inline .form-control.form-search__input {
    display: none;
  }

  .header__favorites {
    margin-left: 21px;
  }

  .header {
    .container-fluid {
      padding-right: 8px;
    }
  }

  .navbar-collapse {
    top: 48px;
  }

  .header__nav-phone {
    margin-right: 0;
  }

  .language-list button {
    width: 30px;
    height: 30px;
    font-size: 12px;
    
    &:after {
      display: none;
    }
  }

  .language-list .dropdown-menu {
    width: 30px;
    padding-top: 4px;

    li:last-child {
      margin-bottom: 0;
    }
  }

  .language-list .dropdown-menu li a {
    font-size: 12px;
  }
}

@media (max-width: 670px) {
  .phone-icon-mob {
    display: block;
    margin-left: 10px;
    background: url("../../../assets/img/phone-icon.svg") no-repeat center;
    background-size: 100% auto;
    width: 15px;
    height: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__nav-phone {
    display: none;
  }

  .form-search {
    margin-left: 10px;
  }

  .header__favorites {
    margin-left: 10px;
  }

  .header__shopCard {
    margin-left: 10px;
  }

  .header__nav .navbar-brand {
    margin-right: 8px;
  }

  .phone-mobil-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
  }
}

//////////////////// HOME PAGE

.index-page__home {
  .content-wrapper {
    padding-top: 0;
  }
}

#wrapper:not(.menu-open) {
  .index-page__home {
    background: red;

    .header:not(.header__home-page) {
      background: initial;
      box-shadow: none;


      .header__nav .navbar-brand,
      .navbar-light .navbar-nav .nav-link,
      .header__nav-phone,
      .dropdown.header__nav-phone-number,
      .header__nav-phone .dropdown-toggle,
      .form-search__input,
      .language-list button {
        color: #ffffff;
      }

      .dropdown-toggle:after {
        background: url("../../../assets/img/check-menu-icon__white.svg") no-repeat center;
        width: 10px;
        height: 5px;
      }

      .form-search__close {
        background: url(../../img/input-close__white.svg) no-repeat 50%;
        background-size: 100% auto;
      }

      .form-search__input {
        background: initial;

        &::-webkit-input-placeholder {
          color: #ffffff;
        }

        &:-moz-placeholder {
          color: #ffffff;
        }

        &::-moz-placeholder {
          color: #ffffff;
        }

        &:-ms-input-placeholder {
          color: #ffffff;
        }
      }

      .form-search__btn {
        background: url("../../../assets/img/loupe__white.svg") no-repeat center;
        background-size: 100% auto;
      }

      .header__favorites {
        background: url("../../../assets/img/passion__white.svg") no-repeat center;
        background-size: 100% auto;
      }

      .header__shopCard {
        background: url("../../../assets/img/Union__white.svg") no-repeat center;
        background-size: 100% auto;
      }

      .phone-icon-mob {
        background: url("../../../assets/img/phone-icon__white.svg") no-repeat center;
        background-size: 100% auto;
      }

      .navbar-toggler {
        background: initial;
      }

      .header__nav .navbar-toggler-icon {
        background: #ffffff;

        &:before, &:after {
          background: #ffffff;
        }
      }

      .header__nav .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
        background: initial;
      }
    }
  }
}
