include ../utils/mixins
block variables

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="description", content=description)
    block head

  body(class=pageClass)
    #wrapper.wrapper
      #app.app(class=mainClass)
        include ../includes/modules/header
        .content-wrapper
          block content

        if footerMin
          include ../includes/modules/footer-min
        else
          include ../includes/modules/footer

    block script
